
@{
    Layout = null;
    if(ViewBag.LoginUserID!=-999)
    {

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />


    @Scripts.Render("~/mvcAjax")

    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <script type="text/javascript">
        var missionColumns = [[
                 { field: 'SMID', title: 'ID', width: 100, checkbox: true },
                 { field: 'SMSMissionName', title: '任务名称', width: 150 }
        ]]

        var groupColumns = [[
                 //{ field: 'ck', checkbox: true },
                 { field: 'GID', title: 'ID', width: 100, checkbox: true },
                 { field: 'GroupName', title: '群组名称', width: 150 }
                 //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        var PersonColumns = [[
                 { field: 'PID', title: 'ID', width: 50, checkbox: true },
                 { field: 'PName', title: '用户名称', width: 100 },
                 { field: 'PhoneNum', title: '电话号码', width: 250 }
        ]]

        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span></input>';
            return s;
        }
        function test(rowIndex,rowData) {
            alert("点击了第"+rowIndex+"行"+":"+rowData);
        }

        function loadComboGrid(rowIndex,rowData) {
            //1 根据传入的行对象获取行对象中的MissionId
            var missionId = rowData.SMID;
            //2 根据MissionId查找该任务所拥有的部门

            //3 根据MissionId查找该任务所拥有的群组

        }

        //加载全部部门下拉框
        function loadComboTree_Department(missionId) {
            //2.2 加载上级部门下拉框
            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetDepartment_combotree?mid=' + missionId,
                //required: true,
                method: 'get',
                //width: 210,
                cascadeCheck: $(this).is(':checked'),//选中子节点不会选中父节点
                //formatter: formatItem_combobox
                onCheck: function (node) {
                    //alert("选中" + node);
                    //var nodes = $('#DepartmentName_combotree').combotree("tree").tree('getChecked');
                    //alert("选中了" + nodes.length+"个节点");
                    loadDataGridByGroupDepartment_Personss();
                }
            });
            //选中子节点不会选中父节点
            //$('#DepartmentName_combotree').combotree({ cascadeCheck: $(this).is(':checked') })

        }

        function split4id(obj, index) {
            var ids = "";
            for (var i = 0; i < obj.length; i++) {
                ids = ids + obj[i][index] + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            return ids;
        }

        function loadDataGridByGroupDepartment_Personss() {
            //1 获取当前选中的group以及department下拉框所选中的ids
            //1.1 获取当前选中的群组下拉框
            var grid = $("#group_combogrid").combogrid("grid");
            var group_checkeds = grid.datagrid("getChecked");
            var group_ids = split4id(group_checkeds, "GID");
            //获取选中行的id
            //alert(split4id(checkeds, "GID"));
            //var ids_group = "";
            //for (var i = 0; i < checkeds.length; i++) {
            //    ids_group = ids_group + checkeds[i].GID + ",";
            //}
            //1.2 获取当前选中的部门下拉tree
            var department_nodes = $('#DepartmentName_combotree').combotree("tree").tree('getChecked');
            var department_ids = split4id(department_nodes, "id");
            //var ids_department = "";
            //for (var i = 0; i < nodes.length; i++) {
            //    ids_department = ids_department + nodes[i].id + ",";
            //}
            //alert(split4id(nodes, "id"));
            //2 请求url加载至Person_DataGrid
            var url = '@ViewBag.GetPersonByGroupDepartment?gids=' + group_ids + '&dids=' + department_ids;

            loadDataGrid_Person(url);
        }

        function loadDataGrid_Person(url) {
            $("#persondatagrid").datagrid({
                fitColumns: true,
                striped: true,
                multiple: true,     //单选
                fit: true,
                url: url,
                showHeader: true,
                loadMsg: '加载中……',
                columns: PersonColumns,
                onLoadSuccess: function () {
                    var data = $("#persondatagrid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        $("#persondatagrid").datagrid("selectRow", rowIndex);
                    });
                }
            });
        }

        function OnSelected_Group() {
            $("#group_combogrid").combogrid({
                //把此方法放在外侧
                //onSelect: function (rowIndex, rowData) {
                //    alert("选中" + rowIndex);
                //    //var checkeds = $("#group_combogrid").combogrid("getSelections");
                //    //注意此处!!!!需要将combogrid先转换为grid，再调用grid的方法
                //    var grid = $("#group_combogrid").combogrid("grid");
                //    var checkeds = grid.datagrid("getChecked");
                //    alert("选中了" + checkeds.length + "行");
                //    //alert("选中了" + checkeds);
                //},
                //onUnselect: function (rowIndex, rowData) {
                //    alert("取消选中" + rowIndex);
                //    var grid = $("#group_combogrid").combogrid("grid");
                //    var checkeds = grid.datagrid("getChecked");
                //    alert("选中了" + checkeds.length + "行");
                //    //var checkeds = $("#group_combogrid").combogrid("getChecked");
                //    //alert("选中了" + checkeds);
                //},
                onClickRow: function (rowIndex, rowData) {
                    alert("选中第" + rowIndex+"行");
                    //var checkeds = $("#group_combogrid").combogrid("getSelections");
                    //注意此处!!!!需要将combogrid先转换为grid，再调用grid的方法
                    var grid = $("#group_combogrid").combogrid("grid");
                    var checkeds = grid.datagrid("getChecked");
                    alert("一共选中了" + checkeds.length + "行");
                    //alert("选中了" + checkeds);

                    loadDataGridByGroupDepartment_Personss();
                }
            })
        }

        function loadComboGrid_Group(missionId,userId) {

            //加载全部短信任务种类
            $("#group_combogrid").combogrid({
                url: '@ViewBag.GetGroupByMID_combogrid?mid='+missionId+'&uid='+userId,
                method: 'get',
                idField: 'GID',
                textField: 'GroupName',
                //width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: true,
                columns: groupColumns,
                //onClickRow: function (rowIndex, rowData) {
                //    alert("点击某一行了");
                //    //var checkeds = $("#group_combogrid").combogrid("getChecked");
                //    //alert("选中了" + checkeds);
                //},
                //onCheck:function (rowIndex, rowData) {
                //    alert("选中"+rowIndex);
                //    //var checkeds = $("#group_combogrid").combogrid("getChecked");
                //    //alert("选中了" + checkeds);
                //},
                onClickRow: function (rowIndex, rowData) {
                    //alert("选中第" + rowIndex+"行");
                    //var checkeds = $("#group_combogrid").combogrid("getSelections");
                    //注意此处!!!!需要将combogrid先转换为grid，再调用grid的方法
                    //var grid = $("#group_combogrid").combogrid("grid");
                    //var checkeds = grid.datagrid("getChecked");
                    loadDataGridByGroupDepartment_Personss();

                },
                //formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var data= $("#group_combogrid").combogrid("grid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        if (rowData.checked) {
                            $("#group_combogrid").combogrid("grid").datagrid("selectRow", rowIndex);
                        }
                    });
                }
            })
        }

        function OnChecks() {

            var ids= $("#group_combogrid").combobox("getChecked");
        }



        function AjaxSubmit(pids, content,url,missionId) {
            //1 创建对象
            var model = new Object();
            model.PersonIds = pids;
            model.Content = content;
            model.SMSMissionID = missionId;
            //2 使用ajax方式提交（此处先不用post）
            $.ajax({
                url: url,
                data: JSON.stringify(model),
                contentType: 'application/json;charset=utf-8',//注意此处必须注明为json格式，否则后台控制器无法通过Model的方式接收
                async: false,
                type: 'POST',
                success: function (data) {
                    alert("提交成功");
                }

            })
        }

        //编辑或创建某个权限后执行的操作
        function afterEdit(msg) {
            //editWindow
            //1 关闭加载的iframe页面
            $.messager.alert('提示', msg);

            $("#editWindow").window('close');
            //2 刷新当前页面
            //$("#contactstreegrid").treegrid('reload');
            //loadPersonGridByGID("@ViewBag.GetPersonUrl", PersonColumns, PersonToolbar);
        }

        function DoSend() {
            alert("要发送短信了");
            //1 获取右侧联系人datagrid列表中选中的联系人id
            var checkeds = $("#persondatagrid").datagrid("getChecked");
            //1.1 获取选中的联系人id用,分隔，并提交
            var ids_person = split4id(checkeds, "PID");
            var url='@ViewBag.DoSend';
            //2 获取短信内容
            var content = $("#message").textbox('getValue');
            var missionId= $("#smsMission_combogrid").combogrid("grid")
            alert("要发送的联系人为："+ids_person+"——短信内容为："+content);
            //3 发送（进行校验）
            AjaxSubmit(ids_person, content, url, missionId);
        }

        function ClearContent() {
            alert("清除短信内容");
        }



        function CancelSend() {
            alert("取消发送短信");
        }

        //加载短信任务combogrid
        function loadCombogrid_byUser() {
            var myurl = '@ViewBag.GetMissionByUID';
            var userId=-999;
            //拼接
            if (@ViewBag.LoginUserID != -999)
            {
                userId='@ViewBag.LoginUserID'
                myurl = myurl + "?userId=" +userId ;
            }
            //根据当前登录用户加载该用户所拥有的短信任务
            $("#smsMission_combogrid").combogrid({
                url: myurl,
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                //width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: false,@*设置为单选*@
                formatter: formatItem_combobox,
                columns: missionColumns,
                onClickRow: function (rowIndex, rowData) {//点击任务后显示该任务所拥有的群组以及部门
                    loadComboGrid_Group(rowData.SMID,userId);
                    loadComboTree_Department(rowData.SMID);
                    //点击所选任务后显示该任务现在已有的联系人（在右侧联系人列表中显示）
                    var url = '@ViewBag.GetPersonByMission?mid=' + rowData.SMID;
                    loadDataGrid_Person(url);
                    //根据所选的短信任务类型加载模板
                    loadtextbox_Template(rowData.SMID,userId);
                }
            })
        }

        //根据短信任务以及用户id加载该任务所拥有的短信
        function loadtextbox_Template(smid,userid){
            $.ajax({
                url:"@ViewBag.GetTemplateByUidAndMission"+"?userId="+userid+"&smId="+smid ,
                
                contentType: 'application/json;charset=utf-8',//注意此处必须注明为json格式，否则后台控制器无法通过Model的方式接收
                async: false,
                type: 'POST',
                success: function (data) {

                    //alert(data);
                    $("#message").textbox('setValue',data);
                }

            })
        }

        //加载常用的短信任务
        function loadcombogrid_AllMission() {
            var myurl='@ViewBag.GetAllMission_combogrid';
            //加载全部短信任务种类
            $("#OftensmsMission_combogrid").combogrid({
                url: myurl,
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                //width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: true,@*设置为单选*@
                formatter: formatItem_combobox,
                columns: missionColumns,
                onClickRow: function (rowIndex, rowData) {
                    //在常用短信下拉框中
                    //加载当前任务已经选中的任务列表

                }
            })
        }

        function HiddenOftenCombo() {

            if ($("#isShowOftenMission").prop("checked")) {
                //alert("选中复选框了");
                //若当前的复选框被选中，则显示下拉框，若未选中则隐藏下来狂
                //$("#OftensmsMission_combogrid").combogrid("hidden");//无效果
                //$("#OftensmsMission_combogrid").show();//无效果
                //$("#OftensmsMission_combogrid").attr("visible", true);
                $("#OftensmsMission_combogrid").combogrid({ disabled: false });//下拉框变成可以显示的
                loadcombogrid_AllMission();
            }
            else {
                //alert("取消复选框了");
                //$("#OftensmsMission_combogrid").combogrid("hidden");
                //$("#OftensmsMission_combogrid").hidden();
                //$("#OftensmsMission_combogrid").attr("visible", false);
                $("#OftensmsMission_combogrid").combogrid({ disabled: true });
            }
        }

        function showEditWindow() {
            //从指定页面中预读取数据
            $("#SetFrame").attr("src", '@ViewBag.ShowSetOftenMissionAndGroup');
            //打开编辑窗体
            $("#editWindow").window('open');

        }

        $(function () {
            //1 隐藏设置的窗体
            $("#editWindow").window('close');
            loadCombogrid_byUser();
            //OnSelected_Group();
            $("#DepartmentName_combotree").combotree({
                onCheck: function () {
                    alert("选中了");
                }
            });
            HiddenOftenCombo();
            $("#isShowOftenMission").click(function () {
                //隐藏或显示常用任务下拉框
                HiddenOftenCombo();
            });
        })
    </script>
</head>
<body>
    <div class="easyui-layout"  style="width:900px;height:600px;"@*dataoptions="fit:true"*@>
        @*<div data-options="region:'north'" style="height:20px"></div>
        <div data-options="region:'south',split:true" style="height:20px;"></div>*@
        <div data-options="region:'east',split:true" title="联系人列表" @*dataoptions="fit:true"*@style="width:230px;">
                <table class="easyui-datagrid" id="persondatagrid" data-options="" style="width:100%;"></table>
        </div>
        <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok',@*fit:true*@">
            <div class="easyui-panel" title="短信发送" style="" @*dataoptions="fit:true"*@>
                <div style="padding:10px 30px 20px 30px">
                    <form id="ff" method="post">
                        <table cellspacing="10" style="font-size:15px;">
                            <tr>
                                <td>短信任务:</td>
                                <td >
                                    <select class="easyui-combogrid" name="smsMission" id="smsMission_combogrid" style="width:150px"></select>
                                </td> 
                                <td>
                                    <input type="checkbox" name="qx" id="isShowOftenMission" value="1" />设置常用任务
                                </td> 
                                <td >
                                    <select class="easyui-combogrid" name="OftensmsMission" id="OftensmsMission_combogrid" style="width:150px"></select>
                                </td>                               
                            </tr>
                            <tr>
                                <td>修改群组:</td>
                                <td >
                                    <select class="easyui-combogrid" id="group_combogrid"multiple name="group" style="width:150px"></select>
                                    @*<input id="sb" class="easyui-switchbutton" checked style="width:60px;height:30px">*@
                                </td>
                            </tr>
                            <tr>
                                <td>修改部门:</td>
                                <td >
                                    <select class="easyui-combotree" name="PDID" id="DepartmentName_combotree" panelHeight="auto" style="width:150px"multiple data-options=""></select>
                                    @*<input id="sb" class="easyui-switchbutton" checked style="width:60px;height:30px">*@
                                </td>
                            </tr>
                            <tr>
                                <td>设置常用任务及群组:</td>
                                <td>
                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'"onclick="showEditWindow()">添加设置</a>
                                </td>
                            </tr>
                            <tr>
                                <td>短信内容:</td>
                                <td colspan="3"><input class="easyui-textbox" name="message"id="message" data-options="multiline:true,prompt:'输入短信内容...'" style="height:200px;width:400px" ></td>
                            </tr>
                        </table>
                    </form>
                    <div data-options="region:'south',border:false" style="text-align:right;height:38px; padding:5px 0 0;">
                        <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'"  onclick="DoSend()" style="width:80px">发送短信</a>
                        <a class="easyui-linkbutton c2" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="ClearContent()" style="width:80px">清除</a>
                        <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
                    </div>
                    @*<div style="text-align:center;padding:5px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
                    </div>*@
                </div>

            </div>
        </div>
    </div>
    <div class="easyui-window" title="联系人" id="editWindow" style="width:460px;height:320px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="SetFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
    </div>
</body>
</html>
