
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />


    @Scripts.Render("~/mvcAjax")

    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <script type="text/javascript">
        var missionColumns = [[
                 { field: 'SMID', title: 'ID', width: 100, checkbox: true },
                 { field: 'SMSMissionName', title: '任务名称', width: 150 }
        ]]

        var groupColumns = [[
                 { field: 'GID', title: 'ID', width: 100, checkbox: true },
                 { field: 'GroupName', title: '群组名称', width: 150 }
                 //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        var PersonColumns = [[
                 { field: 'PID', title: 'ID', width: 50, checkbox: true },
                 { field: 'PName', title: '用户名称', width: 100 },
                 { field: 'PhoneNum', title: '电话号码', width: 250 }
        ]]

        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span></input>';
            return s;
        }
        function test(rowIndex,rowData) {
            alert("点击了第"+rowIndex+"行"+":"+rowData);
        }

        function loadComboGrid(rowIndex,rowData) {
            //1 根据传入的行对象获取行对象中的MissionId
            var missionId = rowData.SMID;
            //2 根据MissionId查找该任务所拥有的部门

            //3 根据MissionId查找该任务所拥有的群组

        }

        //加载全部部门下拉框
        function loadComboTree_Department(missionId) {
            //2.2 加载上级部门下拉框
            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetDepartment_combotree?mid=' + missionId,
                //required: true,
                method: 'get',
                width: 210,
                cascadeCheck: $(this).is(':checked')//选中子节点不会选中父节点
                //formatter: formatItem_combobox
            });
            //选中子节点不会选中父节点
            //$('#DepartmentName_combotree').combotree({ cascadeCheck: $(this).is(':checked') })

        }

        function loadDataGrid_Person(missionId) {
            $("#persondatagrid").datagrid({
                fitColumns: true,
                striped: true,
                singleSelect: true,     //单选
                fit: true,
                url: '@ViewBag.GetPersonByMission?mid='+missionId,
                showHeader: true,
                loadMsg: '加载中……',
                columns: PersonColumns,
            })
        }

        function loadComboGrid_Group(missionId) {

            //加载全部短信任务种类
            $("#group_combogrid").combogrid({
                url: '@ViewBag.GetGroupByMID_combogrid?mid='+missionId,
                method: 'get',
                idField: 'GID',
                textField: 'GroupName',
                width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: true,@*设置为单选*@
                columns: groupColumns,
                //formatter: formatItem_combobox,
                //获取数据成功后启动事件
                //onLoadSuccess: function () {
                //    var opts = $(this).combobox('options');
                //    var target = this;
                //    var values = $(target).combobox('getValues');
                //    $.map(values, function (value) {
                //        var el = opts.finder.getEl(target, value);
                //        el.find('input.combobox-checkbox')._propAttr('checked', true);
                //    })
                //}
            })
        }

        //加载短信任务combogrid
        function loadCombogrid() {
            //加载全部短信任务种类
            $("#smsMission_combogrid").combogrid({
                url: '@ViewBag.GetAllMission_combogrid',
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: false,@*设置为单选*@
                formatter: formatItem_combobox,
                columns: missionColumns,
                onClickRow: function (rowIndex, rowData) {//点击任务后显示该任务所拥有的群组以及部门
                    loadComboGrid_Group(rowData.SMID);
                    loadComboTree_Department(rowData.SMID);
                    //点击所选任务后显示该任务现在已有的联系人（在右侧联系人列表中显示）
                    loadDataGrid_Person(rowData.SMID);
                },
                //onSelect: test,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var opts = $(this).combobox('options');
                    var target = this;
                    var values = $(target).combobox('getValues');
                    $.map(values, function (value) {
                        var el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                }
            })
        }

        $(function () {
            loadCombogrid();
        })
    </script>
</head>
<body>
    <div class="easyui-layout"  style="width:800px;height:600px;">
        @*<div data-options="region:'north'" style="height:20px"></div>
        <div data-options="region:'south',split:true" style="height:20px;"></div>*@
        <div data-options="region:'east',split:true" title="联系人列表" style="width:230px;">
                <table class="easyui-datagrid" id="persondatagrid" data-options="" style="width:100%;"></table>
        </div>
        <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
            <div class="easyui-panel" title="短信发送" style="" dataoptions="fit:true">
                <div style="padding:10px 30px 20px 30px">
                    <form id="ff" method="post">
                        <table cellpadding="4">
                            <tr>
                                <td>短信任务:</td>
                                <td>
                                    <select class="easyui-combogrid" name="smsMission" id="smsMission_combogrid"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>修改群组:</td>
                                <td>
                                    <select class="easyui-combobox" id="group_combogrid"multiple name="group"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>修改部门:</td>
                                <td>
                                    <select class="easyui-combotree" name="PDID" id="DepartmentName_combotree" panelHeight="auto" style="width:200px"multiple data-options=""></select>
                                </td>
                            </tr>
                            <tr>
                                <td>短信内容:</td>
                                <td><input class="easyui-textbox" name="message" data-options="multiline:true" style="height:200px;width:400px"></input></td>
                            </tr>
                        </table>
                    </form>

                    <div style="text-align:center;padding:5px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
 
</body>
</html>
