
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Job/Views/Shared/_Layout.cshtml";
}

@section My_Scripts{
@Html.Partial("_Partial_Job_setTemplate")
@Html.Partial("_Partial_JobIns_LoadDataGrid_JS")
<script src="~/Scripts/MyScripts/Admin/IndexOperation.js"></script>
    <script type="text/javascript">
            var id = "";
            //模板列表的列属性
            var myColumns = [[
                         { field: 'JTID', title: 'ID', width: '1%', hidden: true },
                         { field: 'JTName', title: '模板名称', width: '15%' },
                         { field: 'JobGroup', title: '模板类名称', width: '10%' },
                         { field: 'JobClassName', title: '模板类名', width: '15%' },
                         { field: 'JobType', title: '模板类型', width: '10%' },
                         { field: 'CronStr', title: 'CronStr', width: '20%' },
                         { field: 'Remark', title: '备注', width: '25%' }
            ]]

            //分配模板列表的列属性（分配给用户）
            var mySetColumns = [[
                                          //添加复选框
                { field: 'checked', checkbox: true },

                { field: 'ID', title: 'ID', width: 100, hidden: true },
                { field: 'UName', title: '用户名', width: '20%' },
                { field: 'SubTime', title: '创建时间', width: '40%' },
                { field: 'ModifiedOnTime', title: '最后修改时间', width: '40%' }
            ]]

            //添加操作
            function addTemplateRow() {
                addRow("ShowAddTemplate");
            }

            //编辑操作
            function editTemplateRow() {
                var rows = $("#datagrid").datagrid('getSelections');
                //若选中的行不为一行
                if (rows.length != 1) {
                    //提示
                    $.messager.show({
                        title: '提示',
                        msg: '请选择一行数据',
                        showType: 'show'
                    });
                    return;
                }
                //若选中了一行数据则执行修改操作
                //获取选中列的某一行的值，由于选中的行是一个数组，需要取出第一个
                $("#setActionRoleFrame").attr("src", "@ViewBag.ShowEdit" + "?id=" + rows[0].JTID);//会出现重定向的错误
                $("#editWindow").panel({ title: "编辑作业模板" });
                $("#editWindow").window('open');

            }

            //删除操作
            function removeTemplateRow() {
                var rows = $("#datagrid").datagrid('getSelections');
                //若选中的行不为一行
                if (rows.length != 1) {
                    //提示
                    $.messager.show({
                        title: '提示',
                        msg: '请选择唯一一行',
                        showType: 'show'
                    });
                    return;
                }
                //post请求至软删除方法
                if ($.messager.confirm("提示", "确定要删除吗？", function (r) {
                    if (r) {
                        var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                            strId = strId + rows[i].JTID + ",";
                }
                    //去掉最后一个逗号
                    strId = strId.substr(0, strId.length - 1);
                    $.post("@ViewBag.Del_url?ids=" + strId, function (data) {
                    //请求成功后的回调函数
                    if (data == "ok") {
                    //重新加载datagrid
                       $("#datagrid").datagrid('reload');
                    //清楚所选中的行
                    $("#datagrid").datagrid('clearSelections');
                    $.messager.alert("提示", "删除成功");
                }
                });
                }
                }));

            }


            //分配作业模板给用户
            function setTemplate() {
                var rows = $("#datagrid").datagrid('getSelections');
                if (rows.length != 1) {
                    //提示
                    $.messager.show({
                        title: '提示',
                        msg: '请选择唯一一行',
                        showType: 'show'
                    });
                    return;
                }
                else {
                    id = rows[0].JTID;
                    $("#showSetTemplateWindow").window({ title: '分配作业模板' });
                    $("#showSetTemplateWindow").window('open');
                    load_datagrid_SetDatagrid("@ViewBag.ShowSetTemplate", mySetColumns);
                }
            }


            function load_datagrid_SetDatagrid(url, Columns) {
                $("#userDatagrid").datagrid({
                    width: 'auto',
                    height: 'auto',
                    fitColumns: true,
                    singleSelect: true,
                    checkOnSelect: true,
                    selectOnCheck: true,
                    //隔行变色
                    striped: true,
                    url: url + "?id=" + id,
                    loadMsg: '数据加载中请稍后……',
                    columns: Columns,
                    onLoadSuccess: function (data) {
                        if (data) {
                            $.each(data.rows, function (index, item) {
                                if (item.checked) {
                                    $('#userDatagrid').datagrid('checkRow', index);
                                }
                            })
                        }
                    }

                })

            }


            //分配模板的点击确认后执行的方法
            function Set() {
                var rows = $("#userDatagrid").datagrid('getChecked');
                var strIds = "";
                for (var i = 0; i < rows.length; i++) {
                    strIds = strIds + rows[i].ID + ",";
                }
                //去掉最后一个逗号
                strIds - strIds.substr(0, strIds.length - 1);
                if ($.messager.confirm("提示", "准备提交？", function (r) {
                    if (r) {
                    $.post("@ViewBag.DoSetTemplate?UserId=" + id + "&&ids=" + strIds, function (data) {
                    $("#showSetTemplateWindow").window('close');
                    afterEdit("修改成功");
                });
                }
                }));
            }
            //分配模板的点击取消后执行的方法、
            function CancelSet() {
                $("#showSetTemplateWindow").window("close");
            }

            $(function () {
                //1 关闭窗口
                CancelSet();
                //关闭新建窗口
                closeWindow("editWindow");
                //2 加载页面
                loadDataGrid_Job("datagrid", "@ViewBag.GetInfo", myColumns, "tb_template");
            })
    </script>

}

@section Body{
    <div>
        <table class="easyui-datagrid" id="datagrid"> </table>
        <div class="easyui-window" id="editWindow" style="width:462px;height:448px;overflow: hidden" data-options="shadow:true,modal:true">
            <iframe id="setActionRoleFrame" frameborder="0" width="100%" height="100%"></iframe>
        </div>
        <div id="tb_template" style="padding:2px 5px;">
            <a href="#" class="easyui-linkbutton" id="add_job" data-options="iconCls:'icon-add',text: '新增',plain:true" onclick="addTemplateRow()"></a>            
            <a href="#" class="easyui-linkbutton" id="del_job" data-options="iconCls:'icon-remove',text: '删除',plain:true" onclick="removeTemplateRow()"></a>
            <a href="#" class="easyui-linkbutton" id="edit_Job" data-options="iconCls:'icon-edit',text: '编辑',plain:true" onclick="editTemplateRow()"></a>
            <a href="#" class="easyui-linkbutton" id="end_Job" data-options="iconCls:'icon-search',text: '分配作业模板',plain:true" onclick="setTemplate()"></a>
        </div> 
    </div>
}

