
@{
    ViewBag.Title = "NewsListShow";
    Layout = "~/Areas/News/Views/Shared/_Layout_Common.cshtml";
}
@section Scripts{
    @Html.Partial("_Partial_NewsListShow_loadNews")
    <script src="~/Scripts/MyScripts/Common/my_FormatDate.js"></script>
    <script src="~/Scripts/MyScripts/Common/Overload_ToLocaleDateString.js"></script>
    <script type="text/javascript">
        //加载该用户所拥有的全部消息列表（分页查询）
           
        var toolbar = [{
            iconCls: 'icon-add',
            text: '新增公告',
            handler: showAddWindow
        }, '-', {
            iconCls:'icon-edit',
            text: '编辑公告',
            handler: showEditWindow

        }, '-', {
            iconCls:'icon-remove',
            text: '删除公告',
            handler: removeRow
        }]
        function showAddWindow() {
            //打开编辑窗体
            $("#eidtWindowFrame").attr("src", '@ViewBag.ShowAdd');
            $("#editWindow").window({ title: "新增公告" });
            $("#editWindow").window('open');
        }
        function showEditWindow() {
            var rows = $("#news_datagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选择一行数据',
                    showType: 'show'
                });
                return;
            }

            $("#eidtWindowFrame").attr("src", "@ViewBag.ShowEdit" + "?id=" + rows[0].SNID);//会出现重定向的错误
            $("#editWindow").window({ title: '编辑公告' });
            $("#editWindow").window('open');
        }
        function removeRow() {
            var rows = $("#news_datagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length < 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请至少选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //post请求至软删除方法
            if ($.messager.confirm("提示", "确定要删除吗？", function (r) {
                if (r) {
                    var strId = "";
                for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].SNID + ",";
            }
                //去掉最后一个逗号
                strId = strId.substr(0, strId.length - 1);
                $.post("@ViewBag.DoDel" + "?ids=" + strId, function (data) {
                //请求成功后的回调函数
                if (data == "ok") {
                //重新加载treegrid
                   $("#news_datagrid").datagrid('reload');
                //清楚所选中的行
                $("#news_datagrid").datagrid('clearSelections');
                $.messager.alert("提示", "删除成功");
            }
            });
            }
            }));

        }
        function CancelSend() {
            $("#editWindow").window('close');
        }
        function afterEdit(msg, type) {
            $.messager.alert('提示', msg);
            if (type == 0) {
                $("#editWindow").window('close');
                //2 刷新当前页面
                $("#news_datagrid").datagrid('reload');
            }
        }
        var myColumns = [[
            { field: 'SNID', title: 'ID', width: '15%',hidden:true },
            {
                field: 'Title', title: '题目', align: 'center', width: '25%', formatter: function (value, row, index) {
                    return '<span style="color:#f7e9e9;font-weight: bold">(' + value + ')</span>';
                }
            },
            {
                field: 'SubDateTime', title: '发布时间', width: '12%', formatter: function (value, row, index) {
                    return Date.getStrOfDate(value);
                }
            },
            {
                field: 'NewsContent', title: '消息内容', width: '55%', formatter: function (value,row,index) {
                    //超过50字只显示前50字，后面用。。替换
                    if (value.length > 70) {
                        var str = value.replace(/\s+/g, "");
                        return str.substring(0, 70) + "...";
                    }
                    return value;
                }},
        ]]
        $(function () {
            $("#viewMsgWindow").window('close');
            $("#editWindow").window('close');
            load_news("news_datagrid", "@ViewBag.GetNewsList", myColumns);
            $("#news_datagrid").datagrid({
			toolbar: toolbar,                onClickRow: function (index, data) {
                    ShowWindow(index, data);
                }
            })
        })
    </script>
    }

@section Body{
    <div class="easyui-panel" id="my_panel" data-options="fit:true" title="公告列表" style="width:100%;height:100%;">

    <table class="easyui-datagrid"  style="margin-left:auto;margin-right:auto;" id="news_datagrid" data-options="fit:true" @*style="width:100%;height:500px"*@></table>
    @*@RenderSection("news_tb", false)*@
</div>
<div class="easyui-window" title="title" id="editWindow" style="width:55%;height:75%;overflow: hidden" data-options="shadow:true,modal:true">
    <iframe id="eidtWindowFrame" frameborder="0" width="100%" height="100%" scrolling="no" @*不显示滚动条*@></iframe>
</div>
    }
@section showWindow{
    @Html.Partial("_Partial_Common_ShowWindow")
}


