
@{
    Layout = null;
    //string userMsg = null;
    //if(ViewBag.UserInfo!="")
    //{
    //    userMsg = "欢迎:" + ViewBag.UserInfo + "登录";
    //}
    //else
    //{
    //    userMsg = "未登录";
    //}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    @*@Styles.Render("~/Scripts/EasyUICss")*@
    @Scripts.Render("~/Scripts/myJquery")
    @*@Scripts.Render("~/Scripts/easyUIJS")*@
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />   
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    <style type="text/css">
        #top_reminder{
            float:right;
            margin-right:20px;
            margin-top:4px;
        }
        #top_logo{
            float:left;
            width: 50px;
            height: 50px;
            background: url('/Content/Images/login/logo.png') no-repeat;
           /*background: url('/Content/Images/login/sealogo.png') no-repeat;*/
            background-size:50px 50px;
            margin-left:30px;
            margin-top:4px;
        }
        #top_title{
            margin:8px auto;
            float:left;
            /*margin-left:auto;
            margin-right:auto;*/
            text-align:center;
            width:600px;
            /*width:800px;*/
        }
        #top_title span{
            font-size:30px;
            border:5px;
            /*font-family:'Microsoft YaHei UI';*/
            font-family:STZhongsong;
            color:#ffffff;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //1 关闭一些窗体
            //1.1 关闭重置密码窗体
            $("#showResetPwdWindow").window('close');

                //1 初始化手风琴
                $("#WestAccordion").accordion({
                    fillSpace: true,
                    fit: true,
                    border: false,
                    animate: true  //是否显示动画效果
                })
                //2 加载手风琴
                var array = [{ "id": 3, "text": "@Resources.Language.Authority", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 33, "text": "@Resources.Language.SendSMS", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 34, "text": "@Resources.Language.SendStatistics1", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 35, "text": "@Resources.Language.SystemManagement", "state": null, "Checked": false, "attributes": null, "children": null }];
                //$.each(array, function (i, e) {
                //    //alert(e.text);
                //    addPanel(e.text)
                //})


                $.post("/Admin/Home/GetMenuItem", function (data) {
                    //alert(data);
                    var test = data;
                    $.each(test, function (i, e) {
                        addPanel(e);
                        TreeContent(e);
                    })
                },'json')
            })

        //添加手风琴项
            function addPanel(row) {
                $("#WestAccordion").accordion('add', {
                    title: row.text,
                    //获取每一个当前对象中判断children是否为空
                    content: "<ul id='tNodeId" + row.id + "' ></ul>"

                });
            }

            function TreeContent(row) {
                //判断当前对象中children是否为空
                if (row.children.length == 0) {
                    return
                }
                else {
                    $("#tNodeId" + row.id).tree({
                        data: row.children,
                        onClick:function(node){
                            createTabs(node);
                        },
                        animate: true
                    })
                }
            }
            $('#easyui_tree').tree({
                url: '/Admin/Home/GetMenuItem',
                onLoadSuccess: function (node, data) {
                    //调用方法 统一处理 Ajax获取的 json数据！
                    //$.procAjaxData(data);
                },
                onClick: function (node) {
                    createTabs(node);
                },
                animate:true
            });


        function createTabs(treeNode) {
            var $tabs = $("#tabs"); //获取tabs的容器
            var url;
            if (treeNode.attributes==null) {
                url = treeNode.url;
            }
            else {
                url = treeNode.attributes.url;
            }
            //判断是否已经存在同名的tab
            if ($tabs.tabs("exists", treeNode.text)) {

                var currentTab = $tabs.tabs('getSelected');//取得当前选中的选项卡
                //获取本选项卡的标题
                var currentTabTitle = currentTab.panel('options').title;

                //判断当前的标题与 被点击的节点的标题是否相等，成立则刷新
                if (currentTabTitle == treeNode.text) {
                    $tabs.tabs('update', {
                        tab: currentTab,
                        fit : true,
                        options: {
                            content: createNewIframe(url)
                        }
                    });

                }
                //若不相等则选中 对应的tab
                $tabs.tabs("select", treeNode.text);
            }
                //若当前的tabs中不含有指定tab则创建该tab，并连接到指定页面
            else {
                $tabs.tabs('add', {
                    title: treeNode.text,
                    selected: true,
                    closable: true,
                    //style:{overflow: hidden},
                    fit: true,
                    //href:treeNode.attributes.url,
                    content: createNewIframe(url),
                    //style: { overflow: "hidden" }//?
                });
            }

        }
        //style="margin:10px"
        //创建一个指定url的iframe
        //function createNewIframe(url) {
        //    var iframeStr = "<iframe scrolling='no' frameborder='0'  src='" + url + "' style='width:100%;height:99%;frameborder:0px solid #000;scrolling=no;overflow: hidden'></iframe>";
        //    return iframeStr;
        //}
        function createNewIframe(url) {
            var iframeStr = "<iframe frameborder='0' src='" + url + "' style='width:100%;height:99.5%;frameborder:0px solid #000;'></iframe>";
            return iframeStr;
        }
        function createNewAjaxDiv(url) {
            var divStr = "<div style='width:100%;height:99.5%;'></div>";

            return iframeStr;
        }
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px; padding:2px;background-image:url(/Content/Images/background/blue2_background.png);background-size:100%;background-repeat:no-repeat">
        <div id="top_logo"></div>
        <div id="top_title">
            <span>国家海洋环境预报中心短信云平台</span>
            @*<span> 辽宁省海洋环境预报与防灾减灾中心短信云平台</span>*@
        </div>
        <div id="top_reminder">
            @Html.Partial("_Partial_Home_Top")
            @*<span class="txt">@userMsg </span><br/>
            <span class="txt">日期：@DateTime.Now.ToString("yyyy-MM-dd")</span><br/>
            <a href="/Admin/Home/LoginOut" style="color:#ffffff">注销</a>*@
        </div>        
    </div>
    <div data-options="region:'west',split:true,title:'@Resources.Language.OperationList'" style="width:130px; padding:0px;">
        <div class="easyui-accordion" id="WestAccordion" style="width:100%;padding:0px">
        </div>
        <div class="easyui-panel" style="padding:0px;border:0px;overflow-x:hidden">
        </div>
    </div>
    @*<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
    </div>*@
    <div data-options="region:'south',border:false" style="height:50px;padding:10px;background-image:url(/Content/Images/background/blue2_background.png);background-size:100%;background-repeat:no-repeat">
        <span class="txt" style="position:relative;width:100%;height:100%;">
         Copyright ? 辽宁省海洋预报与防灾减灾中心</span> 
    </div>
    <div data-options="region:'center',title:'我的桌面'" style="overflow-x:hidden;overflow-y:hidden">
        <div id="tabs" class="easyui-tabs" style="width:100%;height:100%;overflow-x:hidden;">

        </div>

    </div>
</body>
</html>
