
@{
    Layout = null;
    string backAction = @ViewBag.backAction;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />
    @*注意需要添加此css才能使用easyui默认的颜色*@
    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    <script src="~/Scripts/MyScripts/Admin/IndexOperation.js"></script>
    <script src="~/Scripts/MyCSS/MyEasyUIValidate.js"></script>
    <script type="text/javascript">
        //--------------1 加载页面中的下拉框中的数据-----------
        //1.1 加载全部部门下拉框
        function loadComboTree_Department() {
            //2.2 加载上级部门下拉框
            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetDepartment_combotree',//在ContactPerson控制器中的ShowAddPerson方法中添加
                valueField: 'id',   //注意此处只能设置为id以及text，否则不识别
                textField: 'text',
                //valueField: "DID",
                //textField: "DepartmentName",
                required: true,
                editable: false,
                onlyLeafCheck: true,
                cascaseCheck: true,
                method: 'get',
                width: 210
                //onLoadSuccess: AfterLoadDepartment
                @*setValue:'@ViewBag.PDID'*@
                });
        }

        //1.2 根据pid加载对应的群组并添加至combobox中
        function loadCombobox_Group(gid,pid) {
            //var str =  (typeof(pid)!="undefined")? pid:"-1";
            $("#GID").combobox({
                url: '@ViewBag.GetGroup_combobox?gid='+gid,//在ContactPerson控制器中的ShowAddPerson方法中添加
                method: 'get',
                valueField: 'id',
                textField: 'text',
                panelWidth: 350,
                panelHeight: 'auto',
                multiple: true,@*设置为可以多选*@
                formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var opts = $(this).combobox('options');
                    var target = this;
                    var values = $(target).combobox('getValues');
                    $.map(values, function (value) {
                        var el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                }
            })
        }

        //向群组下拉框中添加checkbox
        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span><br/>' +
					'<span style="color:#7CFC00">' + row.remark + '</span>';
            return s;
        }

        function afterEdit(data) {

            //$.messager.alert('提醒', '提交成功!');
            //——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            //无法关闭此窗口
            //window.close();
            if (data == "ok") {
                window.parent.afterEdit("修改成功");
            }
            else {
                window.parent.afterEdit("修改失败");
            }
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }

        //页面加载时
        $(function () {
            //加载全部群组下拉框
            var gid = @ViewBag.GID;
            loadCombobox_Group(gid);
            //加载全部部门下拉框
            loadComboTree_Department();
        })
    </script>
</head>
<body>
    <div style="padding:10px 60px 20px 60px">
        @using (Ajax.BeginForm(backAction, new { },
                            new AjaxOptions()
                            {
                                OnSuccess = "afterEdit"
                            }
                            ))
        {
            <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
                <table cellpadding="3">
                    
                    <tr>
                        <td>姓名:</td>
                        <td><input class="easyui-textbox" type="text" name="PName" data-options="required:true"></input></td>
                    </tr>
                    <tr>
                        <td>电话:</td>
                        <td><input class="easyui-textbox" type="text" name="PhoneNum" data-options="required:true"></input></td>
                    </tr>
                    <tr>
                        <td>所属分组:</td>
                        <td>
                            <select class="easyui-combobox"name="GID" id="GID" panelHeight="auto" style="width:100px"
                                    data-options="">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>所属部门:</td>
                        <td>
                            <select class="easyui-combotree" name="DID" id="DepartmentName_combotree" data-options=""></select>
                        </td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td><input class="easyui-textbox" name="Remark" data-options="multiline:true" style="height:60px"></input></td>
                    </tr>

                </table>
                <div style="text-align:center;padding:5px">
                    <div style="text-align:center;padding:5px">
                        <input type="submit" value="提交" />
                    </div>
                </div>
            </form>
            
        }
        
    </div>
</body>
</html>
