
@{
    ViewBag.Title = "ShowEditInfo_1";
    Layout = "~/Views/Shared/_Contact_AddEdit_Layout.cshtml";
    string backAction = ViewBag.backAction;
    int sort = (ViewBag.Sort == null ? 50 : ViewBag.Sort);
}
@section SectionJS{
    <script src="~/Scripts/MyScripts/Common/Submit.js"></script>
<script src="~/Scripts/MyScripts/EasyUI/my_ShowMessager.js"></script>
    <script src="~/Scripts/MyScripts/Contact/my_loadUrl.js"></script>

    <script type="text/javascript">
        function DoSubmit() {
            var myform = $("#ff");
            var options = {
                url: '@ViewBag.backAction_jqSub',
                type: 'post',
                success: function (data) {
                    afterEdit(data);
                }
            };

            myform.form('submit', options);
        }

        var groupColumns = [[
         //{ field: 'ck', checkbox: true },
         { field: 'GID', title: 'ID', width: 100, checkbox: true },
         { field: 'GroupName', title: '群组名称', width: 150 },
         { field: 'Remark', title: '群组名称', width: 150 },
         { field: 'forbidDel', title: '禁止删除', width: 150, hidden: true }
         //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        var isVIPColumns = [{"id":0,"text":"false"},{"id":1,"text":"true"}]

        //--------------1 加载页面中的下拉框中的数据-----------
        //1.1 加载全部部门下拉框
        function loadComboTree_Department1(did) {//2 加载上级部门下拉框

            $("#DepartmentName_combotree").combotree({
                //在ContactPerson控制器中的ShowAddPerson方法中添加
                url: '@ViewBag.GetDepartment_combotree',
                valueField: 'id',   //注意此处只能设置为id以及text，否则不识别
                textField: 'text',
                //valueField: "DID",
                //textField: "DepartmentName",

                editable: false,
                onlyLeafCheck: true,
                cascaseCheck: true,
                method: 'get',
                panelHeight: 150,
                width: 210,
                onLoadSuccess: AfterLoadDepartment
                @*setValue:'@ViewBag.PDID'*@

            });
        }

        function loadComboGrid_Group(gid) {
            var url = '@ViewBag.GetAllGroup_combogrid';
            //var func_loadSucess_group=my_loadSuccess_Group("Group_combogrid", false,gid);
            my_loadCombobox_Group("Group_combogrid", url, groupColumns, loadSuccess_Group);
        }
        @*function loadCombobox_isVIP(pid) {
            $("#isVIP_combobox").combobox({
                url:'@ViewBag.isVIP',
                panelHeight: auto,
                valueField: 'id',
                textField:'text',
                width: 100

            });
        }*@

        function loadComboTree_Department() {
            var url = '@ViewBag.GetDepartment_combotree';
            my_loadComboTree_Department("DepartmentName_combotree", url, AfterLoadDepartment);
        }

        //1.2 根据pid加载对应的群组并添加至combobox中
        function loadCombobox_Group(gid, pid) {
            //var str =  (typeof(pid)!="undefined")? pid:"-1";
            $("#GID").combobox({
                //注意此处需要加判断，若没有传入gid（即没有选择所属群组group，则返回全部的-未选中的-部门下拉框）
                url: gid == "" ? '@ViewBag.GetAllGroup_combobox' : '@ViewBag.GetGroupByGID_combobox?gid=' + gid,//在ContactPerson控制器中的ShowAddPerson方法中添加
                method: 'get',
                valueField: 'id',
                textField: 'text',
                panelWidth: 350,
                panelHeight: 'auto',
                editable: false,
                multiple: true,@*设置为可以多选*@
                formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var opts = $(this).combobox('options');
                    var target = this;
                    var values = $(target).combobox('getValues');
                    $.map(values, function (value) {
                        var el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                }
            })
        }

        //向群组下拉框中添加checkbox
        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span><br/>' +
					'<span style="color:#7CFC00">' + row.remark + '</span>';
            return s;
        }

        function AfterLoadDepartment() {
            $("#DepartmentName_combotree").combotree('setValue', '@ViewBag.DID');
        }
        $(function () {
            //加载全部群组下拉框
            var gid = "@ViewBag.GID";
            var did = "@ViewBag.DID";
            //6月13日家 注释掉
            //loadCombobox_Group(gid);
            //6月13日家 修改为
            loadComboGrid_Group(gid);

            //加载全部部门下拉框
            //6月14日注释掉
            //loadComboTree_Department(did);
            //6月14日修改为
            loadComboTree_Department();
            //加载全部群组下拉框后根据选中的gid选中指定内容（单选）
            //SetGroupCombogridValue(gid);
            //加载全部部门下拉框后根据选中的did
            // SetDepartmentCombotreeValue(did);
            //loadCombobox_isVIP();
            SetVIPComboboxValue();

        })
        //加载全部部门下拉框后根据选中的did选中指定的部门
        function SetDepartmentCombotreeValue(data) {
            //1 找到部门下拉框
            $("#DepartmentName_combotree").combotree('setValue', data);
        }
        //加载全部群组下拉框后根据选中的gid选中指定内容（单选）
        function SetGroupCombogridValue(data) {
            //1 找到部门下拉框
            $("#Group_combogrid").combogrid('setValue', data);
        }
        //加载是否为VIP的选项
        function SetVIPComboboxValue() {
            $('#isVIP_combobox').combobox('setValue', '@ViewBag.isVIP');
        }

        function loadSuccess_Group() {
            var gid_str = "@ViewBag.GID";
            var gids_array;
            gids_array = gid_str;
            //判断传入的GID是否为一个数组
            //若GID中包含","说明传入的是一个数组
            if (gid_str.indexOf(",") > 0) {
                //将字符串转换
               gids_array= gid_str.split(',');
            }
            
            my_loadSuccess_Group("Group_combogrid", false, gids_array);
        }

        function UnSelect_Group() {

        }
        function CancelSend() {
            window.parent.CancelSend();
        }
        function afterEdit(data) {

            //$.messager.alert('提醒', '提交成功!');
            //——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            //无法关闭此窗口
            //window.close();
            if (data == "ok") {
                window.parent.afterEdit("修改成功", 0);
            }
            else if (data == "validation fails") {
                window.parent.afterEdit("该电话号码已存在，请重新输入", 1)
            }
            else {
                window.parent.afterEdit("修改失败", 0);
            }
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }
    </script>
}

<body style="margin:0px;">
    <div>
        <form id="ff" class="easyui-form" method="post" style="margin:0px;">
            <div style="height:30px;width:100%;background-color:#000000"></div>
           
            <input type="hidden" name="SubTime" value="@ViewBag.SubTime" />
            <input type="hidden" name="PID" value="@ViewBag.PID" />
            <table style="margin-left:40px;width:90%" cellpadding="3">
                <tr>
                    <td>姓名:</td>
                    <td class="comment">
                        <input class="easyui-textbox" type="text" name="PName" value="@ViewBag.PName" @*data-options="required:true"*@ data-options="required:true,validType:['String','length[1,20]']"></input><br />
                        请输入联系人姓名
                    </td>
                </tr>
                <tr>
                    <td>电话:</td>
                    <td class="comment">
                        <input class="easyui-textbox" type="text" name="PhoneNum" value="@ViewBag.PhoneNum" @*data-options="required:true"*@ data-options="required:true, validType:'Mobile'"></input><br />
                        输入手机号码（不要输入固定电话）
                    </td>
                </tr>
                <tr>
                    <td style="">是否为VIP联系人：</td>
                    <td class="comment">
                        <select class="easyui-combobox" name="isVIP" id="isVIP_combobox" style="width:100px" data-options="panelHeight:'auto', editable: false" required="required">
                        <option value="0">false</option>
                            <option value="1">true</option>
                        
                             </select>
                        <br/>

                        设置VIP联系人
                    </td>
                </tr>
                <tr>
                    <td>所属分组:</td>
                    <td class="comment">
                        <select class="easyui-combogrid" name="GID" id="Group_combogrid" ></select>
                    </td>
                </tr>
                <tr>
                    <td style="">所属部门:</td>
                    <td class="comment">
                        <select class="easyui-combotree" name="DID" id="DepartmentName_combotree" required="required"></select><br />
                        选择任职部门
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td class="comment">
                        <input class="easyui-textbox" name="Remark" data-options="multiline:true" style="height:60px;width:60%;" value="@ViewBag.Remark"><br />
                        可选
                    </td>
                </tr>
            </table>
            <div style="text-align:center;padding:5px">
                <div style="text-align:center;padding:5px">
                    @*<input type="submit" value="提交" />*@
                    <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="DoSubmit()" style="width:80px">提交</a>
                    <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
                </div>
            </div>
        </form>
    </div>
</body>


