
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Contacts/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        var myColumns = [[
      { field: 'DID', title: 'ID', width: 100,hidden: true },
      { field: 'DepartmentName', title: '部门名称', width:"100%" }
        ]]

        var toolbar = [{
            iconCls: 'icon-add',
            text: "新增",
            handler: addDepartmentRow@*addRow("@ViewBag.ShowAdd")*@
            },
           {
               iconCls: 'icon-remove',
               text: "删除",
               handler: removeDepartmentRow@*removeRow("@ViewBag.Del_url")*@
               },
           {
               iconCls: 'icon-edit',
               text: "编辑",
               handler: editDepartmentRow@*editRow("@ViewBag.ShowEdit")*@
               }]


        function addDepartmentRow() {
            //从指定页面中预读取数据
            $("#addDepartmentFrame").attr("src", '@ViewBag.ShowAddDepartment');
            //打开编辑窗体
            $("#editContactWindow").window('open');

        }

        function editDepartmentRow() {
            var rows = $("#contactstreegrid").treegrid('getSelections');
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选择一行数据',
                    showType: 'show'
                });
                return;
            }
            //**注意先加载iframe窗体的数据，在打开该窗口
            $("#addDepartmentFrame").attr("src", "@ViewBag.ShowEditDepartment" + "?id=" + rows[0].DID);//会出现重定向的错误
            $("#editContactWindow").window('open');
            //若选中了一行数据则执行修改操作
            //获取选中列的某一行的值，由于选中的行是一个数组，需要取出第一个

        }


        function removeDepartmentRow() {
            var rows = $("#contactstreegrid").treegrid('getSelections');
            //若选中的行不为一行
            if (rows.length < 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请至少选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //post请求至软删除方法
            if ($.messager.confirm("提示", "确定要删除吗？", function (r) {
                if (r) {
                    var strId = "";
                for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].DID + ",";
            }
                //去掉最后一个逗号
                strId = strId.substr(0, strId.length - 1);
                $.post("@ViewBag.DelDepartment_url?ids=" + strId, function (data) {
                //请求成功后的回调函数
                if (data == "ok") {
                //重新加载treegrid
                   $("#contactstreegrid").treegrid('reload');
                //清楚所选中的行
                $("#contactstreegrid").treegrid('clearSelections');
                $.messager.alert("提示", "删除成功");
            }
            });
            }
            }));

        }

        //6月12日 采用母版页共用afterEditContact方法
        //编辑或创建某个权限后执行的操作
        function afterEditContact(msg) {
            afterContact_Common(msg);
            //2 刷新当前页面
            //$("#contactstreegrid").treegrid('reload');
           loadTreeGrid('@ViewBag.GetInfo', myColumns);
        }

        //需要改为动态加载
        var areas = {
            "1": "北京",
            "2": "山东",
            "3": "河北",
            "5": "上海",
            "10": "福建",
            "13": "厦门",
            "12": "崇武",
        }


        function loadTreeGrid(url, myColumns) {
            //2 位treegrid加载数据
            $("#contactstreegrid").treegrid({
                idField: 'DID',
                treeField: 'DepartmentName',
                animate: true,
                //width: '400px',
                height: '400px',
                fitColumns: true,
                striped: true,//是否显示斑马线
                nowrap: false,//自动换行
                singleSelect: true,
                fit: true,
                url: url,
                loadMsg: '数据加载中请稍后……',
                columns: myColumns,
                toolbar: toolbar

            });
        }

        //获取群组或部门id
        function loadPersonGridByDID(url, myPersonColumns, myPersonToolbar) {
            //1 获取选中的行
            var rows = $("#contactstreegrid").treegrid('getSelections');
            //1.1 若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //1.2 获取选中行的ID
            strId = rows[0].DID;
            //this.gid = strId;
            //为隐藏域赋值
            $("#did_Hidden").val(strId);
            url = url + "?did=" + strId;
            loadPersonGrid(url, myPersonColumns, myPersonToolbar);
        }

        $(function () {
            //$("#editContactWindow").window('close');
            //$("#editPersonWindow").window('close');
            loadTreeGrid('@ViewBag.GetInfo', myColumns);

            $("#contactstreegrid").treegrid({
                onClickRow: function (index, field, value) {
                    //将group以及department下拉框清除并将下拉框设置为可选
                    ComboboxEnableAndClear();
                    ComboboxDisable();
                    loadPersonGridByDID("@ViewBag.GetPersonUrl", PersonColumns, PersonToolbar);
                }
            });
        })

    </script>
}

@section westdiv{
    <div id="p" data-options="region:'west'" title="部门列表" style="width:21%">
        <input type="hidden" id="did_Hidden" />
        <table class="easyui-treegrid" id="contactstreegrid" style="height:100%;width:100%"></table>
    </div>
}
@section showWindow{
    <div class="easyui-window" title="编辑部门" id="editContactWindow" style="width:460px;height:405px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="addDepartmentFrame" frameborder="0" width="100%" height="100%" scrolling="no" @*不显示滚动条*@></iframe>
    </div>
}
