
@{
    ViewBag.Title = "ShowEditInfo_1";
    Layout = "~/Views/Shared/_Contact_AddEdit_Layout.cshtml";
    string backAction = ViewBag.backAction;
    int sort = (ViewBag.Sort == null ? 50 : ViewBag.Sort);
}
@section SectionJS{
    <script src="~/Scripts/MyScripts/Common/Submit.js"></script>
    <script type="text/javascript">
       function DoSubmit() {
            var myform = $("#ff");
            var options = {
                url: '@ViewBag.backAction_jqSub',
                type: 'post',
                success: function (data) {
                    afterEdit(data,"部门名称");
                }
            };

            myform.form('submit', options);
        }
        var data_areas = [
            {value:"1",text:"北京"},
            {value:"2",text:"山东" },
            {value:"3",text:"河北" },
            {value:"5",text:"上海" },
            {value:"10",text:"福建" },
            {value:"13",text:"厦门" },
            { value: "12", text: "崇武" }]
        function AfterLoadArea(){
            $("#Area_combox").combobox('setValue','@ViewBag.AreaId');
        }
        function AfterLoadDepartment(){
            $("#DepartmentName_combotree").combotree('setValue','@ViewBag.PDID');
        }
        $(function () {
            //1 加载区域下拉框
            $("#Area_combox").combobox({
                width:100,
                valueField: 'value',
                textField: 'text',
                data: data_areas,
                panelHeight: 'auto',
                editable: false,
                onLoadSuccess: AfterLoadArea
            });

            //2 加载上级部门下拉框

            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetInfo',
                valueField: 'id',   //注意此处只能设置为id以及text，否则不识别
                textField: 'text',
                //valueField: "DID",
                //textField: "DepartmentName",
               
                editable: false,
                onlyLeafCheck: true,
                cascaseCheck:true,
                method:'get',
                width: 210,
                onLoadSuccess: AfterLoadDepartment
                @*setValue:'@ViewBag.PDID'*@

                });
        })
        function CancelSend() {
            window.parent.CancelSend();
        }
        function afterEdit(data,name) {

            //$.messager.alert('提醒', '提交成功!');
            //——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            //无法关闭此窗口
            //window.close();
            if (data == "ok") {
                window.parent.afterEditContact("修改成功",0);
            }
            else if (data = "validation fails") {
                window.parent.afterEditContact(name + "已经存在，请重新输入", 1);
            }
            else {
                window.parent.afterEditContact("修改失败", 0);
            }
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }
    </script>
}

<body style="margin:0px;">
    <div>
        <form id="ff" class="easyui-form" method="post" style="margin:0px;">
            <div style="height:30%;width:100%;background-color:#000000"></div>
            <input type="hidden" name="DID" value="@ViewBag.DID" />
            <input type="hidden" name="SubTime" value="@ViewBag.SubTime" />
            <table style="margin-left:40px;width:90%" cellpadding="3">
                <tr>
                    <td style="">所属上级机构:</td>
                    <td class="comment">
                        <select class="easyui-combotree" name="PDID" id="DepartmentName_combotree" @*data-options="required:true"*@></select><br />
                        请选择该部门属于哪个上级机构
                    </td>
                    @*<td style="">优先级:</td>*@
                </tr>
                <tr>
                    <td>部门名称:</td>
                    <td class="comment">
                        <input class="easyui-validatebox" type="text" name="DepartmentName" value="@ViewBag.Name" @*data-options="required:true"*@ data-options="required:true,validType:['String','length[1,50]']"></input><br />
                        请输入该部门的名称（只能填写中文）
                    </td>
                </tr>
                <tr>
                    <td>区域:</td>
                    <td class="comment">
                        <select class="easyui-combobox" name="Area" id="Area_combox" @*data-options="required:true"*@></select><br />
                        选择该部门所在的区域
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td class="comment">
                        <input class="easyui-textbox" type="text" name="Remark" data-options="multiline:true" style="height:50px;width:80%;" value="@ViewBag.Remark"><br />
                        可选
                    </td>
                </tr>
                <tr>
                    <td>优先级:</td>
                </tr>
                <tr>
                    <td class="comment" colspan="2">
                        <input class="easyui-slider" name="Sort" style="width:80%" data-options="showTip:true,
                               rule: [0,'|',25,'|',50,'|',75,'|',100],
                               value:'@sort'
                               "><br />
                        数字越小优先级越高
                    </td>
                </tr>
            </table>
            <div style="text-align:center;padding:5px">
                <div style="text-align:center;padding:5px">
                    @*<input type="submit" value="提交" />*@
                    <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="DoSubmit()" style="width:80px">提交</a>
                    <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
                </div>
            </div>
        </form>
    </div>
</body>


