
@{
    Layout = null;
}
@Html.Partial("_MyPartial_Index")
<script src="~/Scripts/MyScripts/Common/my_FormatDate.js"></script>
<script src="~/Scripts/MyScripts/Common/Overload_ToLocaleDateString.js"></script>
<script type="text/javascript">

    var toolbar= [ {
        iconCls: 'icon-add',
        text: "@Resources.Language.New",
        handler: addRow@*addRow("@ViewBag.ShowAdd")*@
        }, '-',
        {
            iconCls: 'icon-remove',
            text: "@Resources.Language.Delete",
            handler: removeRow@*removeRow("@ViewBag.Del_url")*@
            }, '-',
           {
               iconCls: 'icon-edit',
               text: "@Resources.Language.Edit",
               handler: editRow@*editRow("@ViewBag.ShowEdit")*@
               }]

    var myColumns = [[
                { field: 'ID', title: 'ID', width:'5%', hidden: true },
                { field: 'ActionInfoName', title: '@Resources.Language.RightName', width: '10%' },
                {
                    field: 'SubTime', title: '@Resources.Language.CreateTime', width: '15%',
                    formatter: function (value) {
                        return Date.getStrOfDate(value);
                    }
                },
                { field: 'AreaName', title: '@Resources.Language.AreaName', width: '10%' },
                { field: 'ControllerName', title: '@Resources.Language.ControllerName', width: '10%' },
                { field: 'ActionMethodName', title: '@Resources.Language.MethodName', width: '10%' },
                { field: 'Remark', title: '@Resources.Language.Remarks', width: '30%' },
                { field: 'Sort', title: '@Resources.Language.Order', width: '5%' }
    ]]
    var queryModel = { ActionInfoName: "", AreaName: "", ControllerName: "", ActionMethodName: "", Remark: "" };
    function provideAction() {

    }
    //根据条件查询
    function searchBy(obj) {
        //获取到输入的查询群组的text框中的值
        var match_actionName = $("#queryByActionName").val();
        var match_areaName = $("#queryByAreaName").val();
        var match_controllerName = $("#queryByControllerName").val();
        var match_methodName = $("#queryByMethodName").val();
        var match_remark = $("#queryByRemark").val();
        var queryData = {
            ActionInfoName: match_actionName,
            AreaName: match_areaName,
            ControllerName: match_controllerName,
            ActionMethodName: match_methodName,
            Remark: match_remark
        };

        loadDataGrid('@ViewBag.GetInfo', myColumns, queryData);
    }
    function CancelSend() {
        $("#editWindow").window('close');
    }

</script>
  
<div class="easyui-window" title="title" id="editWindow" style="overflow: hidden;width:700px;height:420px" data-options="shadow:true,modal:true">
    <iframe id="setActionRoleFrame" scrolling="no" @*scroll="no"*@ frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
</div>     
