
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />

    @*@Styles.Render("~/Scripts/EasyUI/themes/black")*@
    @Scripts.Render("~/mvcAjax")
    @*@Scripts.Render("~/Scripts/easyUIJS")*@
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    @RenderSection("toobar_scripts", false)
    @RenderSection("colums_scripts", false)
    @RenderSection("crud_scripts", false)
    @RenderSection("loadDataGrid", false)
    <script type="text/javascript">
        //-----------------------1 各类toolbar------------------


        //-----------------------2 列对象----------------------------

        var myColumns = [[
{ field: 'SMID', title: 'ID', width: 100, hidden: true },
{ field: 'SMSMissionName', title: '短信任务名称', width: 170 }
        ]]

        var GroupColumns = [[
                 { field: 'GID', title: 'ID', width: 100, checkbox: true },
                 { field: 'GroupName', title: '群组名称', width: 150 },
                 { field: 'SubTime', title: '创建时间', width: 250 },
                 { field: 'ModifiedOnTime', title: '最后修改时间', width: 250 },
                 { field: 'Remark', title: '备注', width: 120 }
        ]]

        var DepartmentColumns = [[
                 { field: 'DID', title: 'ID', width: 100, checkbox: true },
                 { field: 'DepartmentName', title: '组织机构名称', width: 150 },
                 { field: 'Area', title: '位置', width: 250 },
                 { field: 'Remark', title: '备注', width: 120 }
        ]]

        var PersonColumns = [[
         { field: 'PID', title: 'ID', width: 100, checkbox: true },
         { field: 'PName', title: '联系人姓名', width: 150 },
         { field: 'PhoneNum', title: '电话', width: 250 },
         { field: 'isVIP', title: '是否是VIP', width: 120 },
         { field: 'Remark', title: '备注', width: 120 }
        ]]

        //-----------------3 增删改操作--------------------


        //为用户保存选中的分组及部门
        function SavePerson() {
            //判断group的下拉框是否选中
            var selectGroupValue = $("#group").combobox('getValues');
            var GroupIds = selectGroupValue;
            var selectDepartmentValue = $("#DepartmentName_combotree").combobox('getValue');
            var DepartmentId = selectDepartmentValue;

            //若部门与群组均为选中则提示，并不做任何操作
            if (!selectGroupValue & !selectDepartmentValue) {
                messagerShowOnCenter("提示", "部门与群组请至少选择一项");

                return;
            }

            //if (!selectGroupValue) {
            //    alert("请选择群组");
            //    return;
            //}
            //if (!selectDepartmentValue) {
            //    alert("请选择部门");
            //    return;
            //}

            var rows = $("#groupdatagrid").datagrid('getSelections');
            //获取选中行中的UserId
            var UserId = rows[0].PID;
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                messagerShowOnCenter("提示", "请选中某一个人");
                //统一用从页面中间弹出消息框的方式，以下注释
                //$.messager.show({
                //    title: '提示',
                //    msg: '请选中某一个人',
                //    showType: 'show'
                //});
                return;
            }
            //弹出提示是否要向此人赋予什么权限
            //先不这么做，弹出提示是否要执行此操作
            //$("#win_savePerson").window('open');
            //若执行此操作
            var result = confirm_center({
                'userId': UserId,
                'groupIds': GroupIds,
                'departmentId': DepartmentId
            });

        }

        //------------4 对页面的公共操作------------------
        function refresh() {
            window.location.reload();//刷新当前页面.
        }


        //使用此种方式消息框还未显示页面就已经刷新了
        function messagerShowOnCenter(title, msg) {
            $.messager.show({
                title: title,
                msg: msg,
                showType: 'show',
                style: {
                    right: '',
                    bottom: ''
                }

            });
        }

        //提交
        function confirm_center(obj) {
            $.messager.confirm('请确认', '是否要执行此操作?', function (r) {
                if (r) {
                    //alert("执行提交操作");
                    $.ajax({
                        type: "POST",
                        url: "@ViewBag.PersonAssignProperty",
                        //dataType: "json",//注意若使用ajax提交时若调用回调函数时，若指定数据类型为json需严格遵守格式规定
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            //alert("修改成功");

                            if (data == "ok") {
                                //使用此种方式会出现还未等到消息框弹出页面就刷新的问题
                                //messagerShowOnCenter("提示", "修改成功");
                                $.messager.alert("提示", "操作成功", "info", function () { window.close(); refresh(); });
                                //refresh();
                            }
                            else {
                                $.messager.alert("提示", "操作失败", "warning", function () { window.close(); refresh(); });
                                //refresh();
                            }



                        },
                        error: function () {

                            $.messager.alert("错误", "服务器错误", "error", function () { window.close(); refresh(); });
                            //refresh();
                        }
                    });
                }
                return;
            });
        }



        //编辑或创建某个权限后执行的操作
        function afterEdit(msg) {
            //editWindow
            //1 关闭加载的iframe页面
            $.messager.alert('提示', msg);

            $("#editSMSMissionWindow").window('close');
            //2 刷新当前页面
            $("#SMSMissiondatagrid").datagrid('reload');
        }

        //--------------------5 加载datagrid---------------------------
        function loadGroupGrid(url, myGroupColumns) {
            //1 获取选中的行
            var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
            //1.1 若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //1.2 获取选中行的ID
            strId = rows[0].SMID;
            url = url + "?smid=" + strId;
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#groupdatagrid").datagrid({
                //width: '488px',
                height: '200px',
                //height: 'auto',
                fitColumns: true,
                striped: true,
                singleSelect: false,
                //fit: true,
                url: url,
                showHeader: true,
                loadMsg: '加载中……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 20,   //设置 页容量为 5
                pageList: [20, 40, 60],//设置 页容量下拉框
                columns: myGroupColumns,
                onClickRow: function (rowIndex, rowData) {
                    //1 获取当前选中的行
                    var row = $("#groupdatagrid").datagrid('getSelected');
                    //2 取出选中的第一行,并找出对应的PID
                    var smid = row["SMID"];
                    //3 根据pid加载该人员所属的部门以及所属的群组（多个）
                    loadCombobox_Group(smid);
                }

            });
        }

        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span><br/>' +
					'<span style="color:#7CFC00">' + row.remark + '</span>';
            return s;
        }

        //加载部门信息列表
        function loadDepartmentGrid(url, myDepartmentColumns) {
            //1 获取选中的行
            var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
            //1.1 若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //1.2 获取选中行的ID
            strId = rows[0].SMID;
            url = url + "?smid=" + strId;
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#departmentdatagrid").datagrid({
                //width: '488px',
                height: '200px',
                //height: 'auto',
                fitColumns: true,
                striped: true,
                singleSelect: false,
                //fit: true,
                url: url,
                showHeader: true,
                loadMsg: '加载中……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 20,   //设置 页容量为 5
                pageList: [20, 40, 60],//设置 页容量下拉框
                columns: myDepartmentColumns,
                onClickRow: function (rowIndex, rowData) {
                    //1 获取当前选中的行
                    var row = $("#departmentdatagrid").datagrid('getSelected');
                    //2 取出选中的第一行,并找出对应的PID
                    var smid = row["SMID"];
                    //3 根据pid加载该人员所属的部门以及所属的群组（多个）
                    loadCombobox_Group(smid);
                }

            });
        }
        //加载联系人信息列表
        function loadPersonGrid(url, myPersonColumns) {
            //1 获取选中的行
            var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
            //1.1 若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //1.2 获取选中行的ID
            strId = rows[0].SMID;
            url = url + "?smid=" + strId;
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#persondatagrid").datagrid({
                //width: '488px',
                height: '450px',
                //height: 'auto',
                fitColumns: true,
                striped: true,
                singleSelect: false,
                //fit: true,
                url: url,
                showHeader: true,
                loadMsg: '加载中……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 20,   //设置 页容量为 5
                pageList: [20, 40, 60],//设置 页容量下拉框
                columns: myPersonColumns,
                onClickRow: function (rowIndex, rowData) {
                    //1 获取当前选中的行
                    var row = $("#persondatagrid").datagrid('getSelected');
                    //2 取出选中的第一行,并找出对应的PID
                    var smid = row["SMID"];
                    //3 根据pid加载该人员所属的部门以及所属的群组（多个）
                    loadCombobox_Group(smid);
                }

            });
        }

        //-------------------6 页面加载首先运行-----------------
        //根据pid加载对应的群组并添加至combobox中
        function loadCombobox_Group(pid) {
            $("#group").combobox({
                url: '@ViewBag.GetGroup_combobox?pid=' + pid,
                method: 'get',
                valueField: 'id',
                textField: 'text',
                panelWidth: 350,
                panelHeight: 'auto',
                multiple: true,@*设置为可以多选*@
                formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var opts = $(this).combobox('options');
                    var target = this;
                    var values = $(target).combobox('getValues');
                    $.map(values, function (value) {
                        var el = opts.finder.getEl(target, value);
                        el.find('input.combobox-checkbox')._propAttr('checked', true);
                    })
                }
            })
        }

        $(function () {

            $("#editSMSMissionWindow").window('close');
            $("#editPersonWindow").window('close');
            loadDataGrid('@ViewBag.GetInfo', myColumns);
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#SMSMissiondatagrid").datagrid({
                onClickRow: function (index, field, value) {
                    loadGroupGrid("@ViewBag.GetGroup", GroupColumns);
                    loadDepartmentGrid("@ViewBag.GetDepartment", DepartmentColumns);
                    loadPersonGrid("@ViewBag.GetPerson", PersonColumns);
                }
            });
            //2.1 加载所属群组下拉框


            //2.2 加载上级部门下拉框
            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetDepartment_combotree',
                valueField: 'id',   //注意此处只能设置为id以及text，否则不识别
                textField: 'text',
                //valueField: "DID",
                //textField: "DepartmentName",
                required: true,
                editable: false,
                onlyLeafCheck: true,
                cascaseCheck: true,
                method: 'get',
                width: 210
                //onLoadSuccess: AfterLoadDepartment
                @*setValue:'@ViewBag.PDID'*@
            });

        })
    </script>
</head>
<body style="overflow:hidden;">
    @RenderBody()
    <div class="easyui-layout" style="width:100%;height:500px;border:dashed">
        @RenderSection("westdiv")
        @RenderSection("eastdiv")
        <div data-options="region:'center'" title="Center" style="width:70%">
            <div id="tb" style="padding:2px 5px;">
                移至分组:
                <select class="easyui-combobox" id="group" panelHeight="auto" style="width:100px"
                        data-options=""></select>
                选择所属部门
                <select class="easyui-combotree" name="PDID" id="DepartmentName_combotree" data-options=""></select>
            </div>
            <div class="easyui-layout" style="width:100%;height:500px;border:dashed">
                <div data-options="region:'center'" title="Center" style="width:70%">
      
                    <table class="easyui-datagrid" id="groupdatagrid" data-options="" style="width:100%;"></table>
                    </div>
                    @RenderSection("southdiv")
                </div>
            </div>
    </div>
    @RenderSection("showWindow")
    <div class="easyui-window" title="联系人" id="editPersonWindow" style="width:400px;height:250px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="addPersonFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
    </div>
</body>
</html>
