@{
    Layout = "~/Areas/Contacts/Views/Shared/_Layout_SMSMission.cshtml";

}
@section east_Columns{
@*QuYuan新修改彩信联系人列表相关列对象*@
    <script type="text/javascript">

        //-----------------------2 列对象----------------------------
        @*QuYuan新修改彩信联系人操作按钮*@
        //var MMS_myToolbar = [
        //   {
        //       id: 'assign_group_MMS',
        //       iconCls: 'icon-contacts_setgroup',
        //       text: "为当前任务分配彩信群组",
        //       handler: AssignGroup_mms
        //   },
        //    {
        //        id: 'assign_department_MMS',
        //        iconCls: 'icon-contacts_setdepartment',
        //        text: "为当前任务分配部门",
        //        handler: AssignDepartment_mms
        //    },
        //    {
        //        id: 'assign_save_MMS',
        //        iconCls: 'icon-save',
        //        text: "保存分配结果",
        //        handler: Accept_mms
        //    },
        //]


    </script>
    
    }

@*QuYuan新修改彩信联系人列表*@
@section eastdiv{
    <div data-options="region:'east'" title="@Resources.Language.MMSContactList" style="width:40%">

        <table class="easyui-datagrid" id="persondatagrid_MMS" data-options="" style="width:40%;"></table>
        
        <div id="tb_MMS" style="padding:2px 5px;">

            <a href="#" class="easyui-linkbutton" id="assign_group_MMS" data-options="iconCls:'icon-contacts_setgroup',text: '@Resources.Language.GroupSettingforMMSMission',plain:true" onclick="AssignGroup_mms()"></a>
            <a href="#" class="easyui-linkbutton" id="assign_department_MMS" data-options="iconCls:'icon-contacts_setdepartment',text: '@Resources.Language.DepartmentSettingforMMSMission',plain:true" onclick="AssignDepartment_mms()"></a>
            <a href="#" class="easyui-linkbutton" id="assign_save_MMS" data-options="iconCls:'icon-save',text: '@Resources.Language.Save1',plain:true" onclick="Accept_mms()"></a>
            <br />
            @Resources.Language.NameMaching
            <input class="easyui-validatebox" type="text" id="personName_MMS" style="width:'40%'" data-options="">
            @Resources.Language.NumberMatching
            <input class="easyui-validatebox" type="text" id="PhoneNum_MMS" style="width:'40%'" data-options="">
            <a class="easyui-linkbutton" iconCls="icon-search" onclick="searchPersonByCondition_MMS()">@Resources.Language.Go</a>
        </div>
    </div>
}



@*QuYuan新修改彩信联系人列表*@
@section westdiv{
    @RenderSection("westdiv")
    }
@section showWindow{
    @RenderSection("showWindow")
    }
@section loadDataGrid{
    @RenderSection("loadDataGrid")
    }
@section toobar_scripts{
    @RenderSection("toobar_scripts")
    }
}


