
@{
    Layout = "~/Areas/Contacts/Views/Shared/_Layout.cshtml";
    int showMissionToolbar = ViewBag.ShowMissionToolbar;
    int showPerToolbar = ViewBag.ShowPersonToolbar;
}
@section toobar_scripts{
    @RenderSection("toobar_scripts", false)
    }
@section colums_scripts{
    @RenderSection("colums_scripts", false)
}
   
@section crud_scripts{
    @RenderSection("crud_scripts", false)
}

@section loadDataGrid{
    @RenderSection("loadDataGrid", false)
}

@section person_tb{
    <div id="tb" style="padding:2px 5px;">

        <a href="#" class="easyui-linkbutton" id="assign_group" data-options="iconCls:'icon-contacts_setgroup',text: '为当前短信任务分配群组',plain:true" onclick="AssignGroup()"></a>
        <a href="#" class="easyui-linkbutton" id="assign_department" data-options="iconCls:'icon-contacts_setdepartment',text: '为当前短信任务分配部门',plain:true" onclick="AssignDepartment()"></a>
        <a href="#" class="easyui-linkbutton sms" id="assign_save" data-options="iconCls:'icon-save',text: '保存分配结果',plain:true" onclick="Accept(this)"></a>
        <br/>
        匹配名称
        <input class="easyui-validatebox" type="text" id="personName" style="width:'40%'" data-options="">
        匹配电话
        <input class="easyui-validatebox" type="text" id="PhoneNum" style="width:'40%'" data-options="">
        <a class="easyui-linkbutton" iconCls="icon-search" onclick="searchPersonByCondition(0)">查询</a>
    </div>
}

    @section west_Columns{
        <script type="text/javascript">
            var myColumns = [[
{ field: 'SMID', title: 'ID', width: 100, hidden: true },
{ field: 'SMSMissionName', title: '短信任务名称', width: "100%" }
            ]]
        </script>        
        }

    @section center_Columns{
        <script type="text/javascript">
            var PersonColumns = [[
        //{ field: 'PID', title: 'ID', width: 100, checkbox: true },
        { field: 'PName', title: '联系人姓名', width: 150 },
        { field: 'PhoneNum', title: '电话', width: 250 },
        { field: 'isVIP', title: '是否是VIP', width: 200 },
        { field: 'Remark', title: '备注', width: 120 }
            ]]



            //是否禁用
            var IsPassColumns = [{
                "IsPass": false,
                "Text": "禁用",
            }, {
                "IsPass": true,
                "Text": "启用",
            }];
            //部门
            var DepartmentColumns = [[
                { field: 'DID', checkbox: true },

                { field: 'DepartmentName', title: '部门名称', width: "70%" },
                {
                    field: 'IsPass', title: '是否禁用', width: "15%",
                    formatter: function (value, row) {
                        if (row.Text == null) {
                            return "请选择";
                        }
                        else {
                            return row.Text;
                        }
                       
                    },
                    editor: {
                        type: 'combobox',
                        options: {
                            valueField: 'IsPass',
                            textField: 'Text',
                            panelHeight: 'auto',
                            data: IsPassColumns,
                            required: true,
                            editable: false
                        }
                    }
                }
            ]]

            //群组
            var GroupColumns = [[
             { field: 'ck', checkbox: true },
             { field: 'GroupName', title: '群组名称', width: "30%" },
             { field: 'Remark', title: '备注', width: "45%" },
             {
                 field: 'IsPass', title: '是否禁用', width: "15%",
                 //formatter: function (value) {
                 //    for (var i = 0; i < IsPass.length; i++) {
                 //        if (IsPass[i].value == value) return IsPass[i].name;
                 //    }
                 //    return value;
                 //},
                 formatter: function (value, row) {
                     return row.Text;
                 },
                 editor: {
                     type: 'combobox',
                     options: {
                         valueField: 'IsPass',
                         textField: 'Text',
                         panelHeight: 'auto',
                         data: IsPassColumns,
                         required: true,
                         editable: false
                     }
                 }
             }
            ]]

            //-----------------------2 列对象----------------------------
            var myToolbar = [
               {
                   id:'assign_group',
                   iconCls: 'icon-contacts_setgroup',
                   text: "为当前任务分配短信群组",
                   handler: AssignGroup
               },
                {
                    id: 'assign_department',
                    iconCls: 'icon-contacts_setdepartment',
                    text: "为当前任务分配部门",
                    handler: AssignDepartment
                },
                {
                    id: 'assign_save',
                    iconCls: 'icon-save',
                    text: "保存分配结果",
                    handler: Accept
                },
            ]

            //-----------------3 增删改操作--------------------
            //分配部门按钮的方法
            function AssignGroup() {
                this
                var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows)) { return; }
                $("#showGroupWindow").window('open');

            }

            function AssignGroup_mms(){
                var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows)) { return; }
                $("#showGroupWindow_mms").window('open');
            }

            function AssignDepartment() {
                var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows)) { return; }
                $("#showDepartmentWindow").window('open');

            }

            function AssignDepartment_mms() {
                var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows)) { return; }
                $("#showDepartmentWindow_mms").window('open');

            }
            //用户修改了当前任务所拥有的群组及部门时——保存方法
            //不用此方法
            //2017-04-12
            //casblanca
            function Accept1() {
                var rows_mission = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows_mission)) { return; }
                //获取选中的部门
                var d_rows = $("#department").treegrid('getSelections');
                //结束部门编辑
                $.each(d_rows, function (i, item) {
                    $('#department').treegrid('endEdit', item.DID);
                })

                
                //获取选中的群组
                var g_rows = $('#group').datagrid('getChecked');
                //结束群组编辑
                $('#group').datagrid('acceptChanges');

                var rows_SMSMission = $('#SMSMissiondatagrid').datagrid('getSelected');
                //暂时没作用
                //if (rows_SMSMission == null) {

                //    messagerShowOnCenter("提示", "未选择短信任务");
                //    return;
                //}

                var SMSMissionID = rows_SMSMission.SMID;
                var GIDs = "";
                var G_IsPasses = "";
                var DIDs = "";
                var D_IsPasses = "";


                for (var i = 0; i < g_rows.length; i++) {
                    GIDs = GIDs + g_rows[i].GID + ",";
                    G_IsPasses = G_IsPasses + g_rows[i].IsPass + ",";
                }
                for (var i = 0; i < d_rows.length; i++) {
                    DIDs = DIDs + d_rows[i].DID + ",";
                    D_IsPasses = D_IsPasses + d_rows[i].IsPass + ",";
                }
                //需讨论
                //if (GIDs == "" & DIDs == "") {
                //    messagerShowOnCenter("提示", "部门与群组中请至少选择一项");

                //    return;
                //}
                //去掉结尾的逗号
                GIDs = GIDs.substr(0, GIDs.length - 1);

                G_IsPasses = G_IsPasses.substr(0, G_IsPasses.length - 1);

                DIDs = DIDs.substr(0, DIDs.length - 1);

                D_IsPasses = D_IsPasses.substr(0, D_IsPasses.length - 1);

                //获取选中的任务

                var result = confirm_center({
                    'SMSMissionID': SMSMissionID,
                    'groupIds': GIDs,
                    'g_isPasses': G_IsPasses,
                    'departmentIds': DIDs,
                    'd_isPasses': D_IsPasses
                });


                //4月11日修改 casablanca
                //读取短彩信的所属群组及部门的思路
                //$("#showGroupWindow .easyui-datagrid")

            }
            //为用户保存选中的分组及部门
            function SavePerson() {
                //判断group的下拉框是否选中
                var selectGroupValue = $("#group").combobox('getValues');
                var GroupIds = selectGroupValue;
                var selectDepartmentValue = $("#DepartmentName_combotree").combobox('getValue');
                var DepartmentId = selectDepartmentValue;

                //若部门与群组均为选中则提示，并不做任何操作
                if (!selectGroupValue & !selectDepartmentValue) {
                    messagerShowOnCenter("提示", "部门与群组请至少选择一项");

                    return;
                }

                //if (!selectGroupValue) {
                //    alert("请选择群组");
                //    return;
                //}
                //if (!selectDepartmentValue) {
                //    alert("请选择部门");
                //    return;
                //}

                var rows = $("#groupdatagrid").datagrid('getSelections');
                //获取选中行中的UserId
                var UserId = rows[0].PID;
                //若选中的行不为一行
                if (rows.length != 1) {
                    //提示
                    messagerShowOnCenter("提示", "请选中某一个人");
                    //统一用从页面中间弹出消息框的方式，以下注释
                    //$.messager.show({
                    //    title: '提示',
                    //    msg: '请选中某一个人',
                    //    showType: 'show'
                    //});
                    return;
                }
                //弹出提示是否要向此人赋予什么权限
                //先不这么做，弹出提示是否要执行此操作
                //$("#win_savePerson").window('open');
                //若执行此操作
                var result = confirm_center({
                    'userId': UserId,
                    'groupIds': GroupIds,
                    'departmentId': DepartmentId
                });

            }

            //2017-4-12
            //
            //casablanca
            function Accept(obj) {
                var rows_mission = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows_mission)) { return; }
                //取到传入的对象，即easyui-linkbutton这个dom元素，需要通过$转为jquery对象
                var class_name= $(obj).attr('class');
                var str_isMMs;
                //判断是sms还是mms
                if($(obj).is('.sms')){
                    //若是短信则执行 短信的群组、部门的获取选中操作
                    str_isMMs='sms';
                }
                if($(obj).is('.mms')){
                    str_isMMs='mms';
                }
                //var rows=$(".easyui-datagrid.sms.group").datagrid('getChecked');
                //获取短信或彩信选中的群组
                //easyui-datagrid sms group
                //获取群组datagrid
                var obj_datagrid_group= $(".easyui-datagrid.group").filter("."+str_isMMs);
                //获取部门datagrid
                var obj_datagrid_department=$(".easyui-treegrid.department").filter("."+str_isMMs);

                //获取选中的群组
               var g_rows = obj_datagrid_group.datagrid('getChecked');
                //结束群组编辑
               obj_datagrid_group.datagrid('acceptChanges');

                //获取选中的部门
               var d_rows = obj_datagrid_department.treegrid('getSelections');
                //结束部门编辑
                $.each(d_rows, function (i, item) {
                    obj_datagrid_department.treegrid('endEdit', item.DID);
                })

                var rows_SMSMission = $('#SMSMissiondatagrid').datagrid('getSelected');                
                
                //之后未修改
                var SMSMissionID = rows_SMSMission.SMID;
                var GIDs = "";
                var G_IsPasses = "";
                var DIDs = "";
                var D_IsPasses = "";


                for (var i = 0; i < g_rows.length; i++) {
                    GIDs = GIDs + g_rows[i].GID + ",";
                    G_IsPasses = G_IsPasses + g_rows[i].IsPass + ",";
                }
                for (var i = 0; i < d_rows.length; i++) {
                    DIDs = DIDs + d_rows[i].DID + ",";
                    D_IsPasses = D_IsPasses + d_rows[i].IsPass + ",";
                }
                //去掉结尾的逗号
                GIDs = GIDs.substr(0, GIDs.length - 1);

                G_IsPasses = G_IsPasses.substr(0, G_IsPasses.length - 1);

                DIDs = DIDs.substr(0, DIDs.length - 1);

                D_IsPasses = D_IsPasses.substr(0, D_IsPasses.length - 1);

                //获取选中的任务

                var result = confirm_center({
                    'SMSMissionID': SMSMissionID,
                    'groupIds': GIDs,
                    'g_isPasses': G_IsPasses,
                    'departmentIds': DIDs,
                    'd_isPasses': D_IsPasses,
                    'isMMS':str_isMMs//前台传递给后台的短信标记 eg:短信 sms,彩信 mms casablanca

                });
               
            }
        </script>
        }

    @section afterEdit{
    <script type="text/javascript">
        //编辑或创建某个权限后执行的操作
        //function afterEdit(msg,type) {
		function afterContact_Common(msg,type) {            //editWindow
            //1 关闭加载的iframe页面
            $.messager.alert('提示', msg);
            if (type == 0) {
                CancelSend();
            }
            //2 刷新当前页面
        }
        function CancelSend() {
            $("#editSMSMissionWindow").window('close');
            Refresh();
        }

        function CancelSend() {
            $("#editSMSMissionWindow").window('close');
           
        }
    </script>    
            }

    @section load_datagrid{
        <script type="text/javascript">
            //--------------------5 加载datagrid---------------------------

            function formatItem_combobox(row) {
                var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span><br/>' +
                        '<span style="color:#7CFC00">' + row.remark + '</span>';
                return s;
            }

            //加载联系人信息列表
            //添加ismms参数，为枚举对应的int
            //1月9日 修改此方法，之前短信 彩信 方法中只有部分参数不同，冗余
            function loadPersonGrid(url, myPersonColumns, persondg_id, ismms,tb_id, queryModel) {
                //1 获取选中的行
                var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
                if (!isSelectedRow(rows)) { return; }
                //1.2 获取选中行的ID
                strId = rows[0].SMID;
                url = url + "?smid=" + strId;


                if (queryModel == null) {
                    var queryModel = {
                        SMID: strId,
                        IsMMS: ismms,
                    }
                } else {
                    queryModel.SMID = strId;
                    queryModel.IsMMS = ismms;
                }

                loadDatagrid_Group(strId,GroupColumns,ismms);
                loadTreegrid_Department(strId, DepartmentColumns,ismms);
                //loadTreegrid_Department(strId, DepartmentColums);
                //2 根据GroupID查询该群组所拥有的人员列表
                $("#" + persondg_id).datagrid({
                    //width: '488px',
                   // height: '450px',
                    //height: 'auto',
                    fit: true,
                    fitColumns: true,
                    striped: true,
                    singleSelect: false,

                    url: url,
                    showHeader: true,
                    loadMsg: '加载中……',
                    pagination: true,//启用分页，默认每页10行
                    rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                    pageSize: 20,   //设置 页容量为 5
                    pageList: [20, 40, 60],//设置 页容量下拉框
                    columns: myPersonColumns,
                    //toolbar: myToolbar
                    toolbar: '#'+tb_id,
                    queryParams: queryModel==null?null:queryModel
                });
            }


            //function loadPersonGrid_MMS(url, myPersonColumns, queryModel) {
            //    //1 获取选中的行
            //    var rows = $("#SMSMissiondatagrid").datagrid('getSelections');
            //    if (!isSelectedRow(rows)) { return; }
            //    //1.2 获取选中行的ID
            //    strId = rows[0].SMID;
            //    url = url + "?smid=" + strId;

            //    if (queryModel == null) {
            //        var queryModel = {
            //            SMID: strId,
            //            IsMMS: 1,
            //        }
            //    } else {
            //        queryModel.SMID = strId;
            //        queryModel.IsMMS = 1;
            //    }

            //    //loadDatagrid_Group(strId, GroupColumns);
            //    //loadTreegrid_Department(strId, DepartmentColumns);
            //    //loadTreegrid_Department(strId, DepartmentColums);
            //    //2 根据GroupID查询该群组所拥有的人员列表
            //    $("#persondatagrid_MMS").datagrid({
            //        //width: '488px',
            //        // height: '450px',
            //        //height: 'auto',
            //        fit: true,
            //        fitColumns: true,
            //        striped: true,
            //        singleSelect: false,

            //        url: url,
            //        showHeader: true,
            //        loadMsg: '加载中……',
            //        pagination: true,//启用分页，默认每页10行
            //        rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
            //        pageSize: 20,   //设置 页容量为 5
            //        pageList: [20, 40, 60],//设置 页容量下拉框
            //        columns: myPersonColumns,
            //        //toolbar: myToolbar
            //        toolbar: '#tb_MMS',
            //        queryParams: queryModel == null ? null : queryModel
            //    });
            //}




            function loadTreegrid_Department(smid, myDepartmentColumns,ismms) {
                var department_id;
                var str_isMMS;
                switch(ismms){
                    case 0:
                        
                        str_isMMS="sms";
                        break;
                    case 1:
                        
                        str_isMMS="mms";
                        break;
                        defult:
                            break;

                }
                //取到彩信或短信对应的treegrid
                                
                //获取短信或彩信选中的群组
                //easyui-treegrid sms department
                //获取部门treegrid
                var obj_datagrid_department= $(".easyui-treegrid.department").filter("."+str_isMMS);  
                
                obj_datagrid_department.treegrid({
                    rownumbers: true,
                    idField: 'DID',
                    treeField: 'DepartmentName',
                    animate: true,//折叠时显示动画效果
                    width: '400px',
                    height: 'auto',
                    fitColumns: true,
                    showFooter: true,
                    singleSelect: false,
                    collapsible: true,
                    url: '@ViewBag.GetDepartment_treegrid?smid=' + smid+'&ismms='+str_isMMS,
                    logMsg: '加载中……',
                    columns: myDepartmentColumns,
                    //onBeforeEdit: function (index, row) {
                    //    row.editing = true;
                    //    $("#department").treegrid('refreshRow', index);
                    //},
                    //onAfterEdit: function (index, row) {
                    //    row.editing = false;
                    //    $("#department").treegrid('refreshRow', index);
                    //},
                    //onCancelEdit: function (row,index) {
                    //    //row.editing = false;
                    //    $("#department").treegrid('refreshRow', row.DID);
                    //},
                    onCheck: function (row) {
                        //注意此时传入的row中的selected以及checked均为false
                        //if (row.IsPass == false) {
                        //    row.IsPass = false;
                        //}
                        //1 若未选中的窗台，当选中该行时，默认为其赋为选中（isPass为true）
                        if (row.checked == false) {
                            if (row.IsPass == true)
                                row.IsPass = true;
                            else {
                                row.IsPass = false;
                            }
                        }
                        if (row.checked == undefined) {

                            if (row.IsPass==true)
                                row.IsPass = true;
                            else {
                                row.IsPass = false;
                            }
                        }
                        obj_datagrid_department.treegrid('beginEdit', row.DID);
                    },
                    onUncheck: function (row) {
                        row.checked = false;
                        row.Text = "请选择";
                        row.IsPass = null;
                        obj_datagrid_department.treegrid('cancelEdit', row.DID);
                    },
                    onLoadSuccess: function (row, data) {
                        if (data) {
                            //返回的data中checkbox列中包含true or false 就是用来设定 Checkbox 是否勾选，而设定的动作必须要在 DataGrid 加载数据完成后再去执行，这边会使用到 jQuery 的 each 去逐一检查每个数据列的的数据内容，假如 checked 为 true，那就使用datagrid.('checkRow')这个 Method 将该数据列的 Checkbox 设为勾选的状态，
                            getChecked_treegrid(data,obj_datagrid_department)
                        }
                    }
                });
            }
            //递归，遍历每一个子节点
            function getChecked_treegrid(data,obj_treegrid) {
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        if (item.selected) {
                            obj_treegrid.treegrid('select', item.DID);
                        }
                    })
                    $.each(data, function (i, item) {
                        if (item.children.length > 0) {
                            getChecked_treegrid(item.children,obj_treegrid)
                        }
                    })
                }
            }

            //清空右侧联系人列表中的全部联系人
            function ClearPersonGrid() {
                //2 根据GroupID查询该群组所拥有的人员列表
                $('#persondatagrid').datagrid('loadData', { total: 0, rows: [] });

            }

            //-------------------6 页面加载首先运行-----------------
            //根据smid加载对应的群组并添加至combogrid中
            function loadDatagrid_Group(smid, myGroupColumns,ismms) {
                var group_id;
                var str_isMMS;
                switch(ismms){
                    case 0:
                        group_id="group";
                        str_isMMS="sms";
                        break;
                    case 1:
                        group_id="group_mms";
                        str_isMMS="mms";
                        break;
                        defult:
                        break;

                }
                //取到彩信或短信对应的datagrid
                                
                //获取短信或彩信选中的群组
                //easyui-datagrid sms group
                //获取群组datagrid
                var obj_datagrid_group= $(".easyui-datagrid.group").filter("."+str_isMMS);  

                obj_datagrid_group.datagrid({
                    url: '@ViewBag.GetGroup_datagrid?smid=' + smid+"&&ismms="+ismms,
                    panelWidth: 400,
                    multiple: true,
                    method: 'get',
                    panelHeight: 'auto',
                    loadMsg: '加载中……',
                    columns: myGroupColumns,
                    nowrap:false,
                    fitColumns: true,
                   
                    onAfterEdit: function (index, row) {
                        row.editing = false;
                        //$("#group").datagrid('refreshRow', index);
                        obj_datagrid_group.datagrid('refreshRow', index);
                    },
                    onCancelEdit: function (index, row) {
                        row.editing = false;
                        obj_datagrid_group.datagrid('refreshRow', index);
                        //$("#group").datagrid('refreshRow', index);
                    },
                    onEndEdit: function (index, row) {
                        //var ed = $('#group').datagrid('getEditor', { index: index, field: 'IsPass' });
                        var ed = obj_datagrid_group.datagrid('getEditor', { index: index, field: 'IsPass' });
                        row.IsPass = $(ed.target).combobox('getText');
                    },
                    onCheck: function (index,row) {
                        //$('#group').datagrid('beginEdit', index);
                        obj_datagrid_group.datagrid('beginEdit', index);
                    },
                    onUncheck: function (index,row) {
                        row.checked = false;
                        row.Text = "请选择";
                        //$('#group').datagrid('cancelEdit', index);
                        obj_datagrid_group.datagrid('cancelEdit', index);
                    },
                    onLoadSuccess: function (data) {
                        if (data) {
                            //返回的data中checkbox列中包含true or false 就是用来设定 Checkbox 是否勾选，而设定的动作必须要在 DataGrid 加载数据完成后再去执行，这边会使用到 jQuery 的 each 去逐一检查每个数据列的的数据内容，假如 checked 为 true，那就使用datagrid.('checkRow')这个 Method 将该数据列的 Checkbox 设为勾选的状态，
                            $.each(data.rows, function (index, item) {
                                if (item.checked) {

                                    //$('#group').datagrid('checkRow', index);
                                    obj_datagrid_group.datagrid('checkRow', index);
                                }
                            })
                        }
                    }
                })
            }
        </script>
        }


    @section Common{
        <script type="text/javascript">
            //------------4 对页面的公共操作------------------
            function refresh() {
                window.location.reload();//刷新当前页面.
            }


            //使用此种方式消息框还未显示页面就已经刷新了
            function messagerShowOnCenter(title, msg) {
                $.messager.show({
                    title: title,
                    msg: msg,
                    showType: 'show',
                    style: {
                        right: '',
                        bottom: ''
                    }

                });
            }

            //提交
            function confirm_center(obj) {
                $.messager.confirm('请确认', '是否要执行此操作?', function (r) {
                    if (r) {
                        //alert("执行提交操作");
                        $.ajax({
                            type: "POST",
                            url: "@ViewBag.DoAssignGroup2SMSMission",
                            //dataType: "json",//注意若使用ajax提交时若调用回调函数时，若指定数据类型为json需严格遵守格式规定
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(obj),
                            success: function (data) {
                                //alert("修改成功");

                                if (data == "ok") {
                                    //使用此种方式会出现还未等到消息框弹出页面就刷新的问题
                                    //messagerShowOnCenter("提示", "修改成功");
                                    $.messager.alert("提示", "操作成功", "info", function () { window.close(); refresh(); });
                                    //refresh();
                                }
                                else {
                                    $.messager.alert("提示", "操作失败", "warning", function () { window.close(); refresh(); });
                                    //refresh();
                                }
                            },
                            error: function () {

                                $.messager.alert("错误", "服务器错误", "error", function () { window.close(); refresh(); });
                                //refresh();
                            }
                        });
                    }
                    return;
                });
            }
        </script>
        }

    @section onload{
        <script type="text/javascript">

            @{var index = (int)PMS.Model.Enum.MMS_Enum.sms;};
            @{ var index_mms = (int)PMS.Model.Enum.MMS_Enum.mms;};
            var index_sms=@index;
            var index_mms=@index_mms;

            $(function () {

                $("#editSMSMissionWindow").window('close');
                $("#editPersonWindow").window('close');
                //需修改
                $("#showDepartmentWindow").window('close');
                $("#showGroupWindow").window('close');
                $("#showGroupWindow_mms").window('close');
                $("#showDepartmentWindow_mms").window('close');
                loadDataGrid('@ViewBag.GetInfo', myColumns);

                //2 根据GroupID查询该群组所拥有的人员列表
                $("#SMSMissiondatagrid").datagrid({
                    onClickRow: function (index, field, value) {

                        $('#group').datagrid('unselectAll');
                        //该命令不起作用，不清楚什么原因
                        //$('#department').treegrid('loadData', []);
                        $('#department').treegrid('unselectAll');
                        @*loadPersonGrid("@ViewBag.GetPerson", PersonColumns);*@
                        //改全局有变量
                        @*@{var index = (int)PMS.Model.Enum.MMS_Enum.sms;};
                        @{ var index_mms = (int)PMS.Model.Enum.MMS_Enum.mms;};
                        var index_sms=@index;
                        var index_mms=@index_mms;*@
                        loadPersonGrid("@ViewBag.GetPerson", PersonColumns, "persondatagrid",index_sms,"tb");
                        //暂时注释掉加载彩信dg，稍后恢复
                        loadPersonGrid("@ViewBag.GetPerson", PersonColumns, "persondatagrid_MMS",index_mms,"tb_MMS");

                        @*loadPersonGrid_MMS("@ViewBag.GetPerson", PersonColumns);*@

                        @*checkShowToolbar("@showMissionToolbar", "@showPerToolbar", "mission");*@
                    }
                });
                //1月9日 暂时注释掉 可编辑或不可编辑分配群组及部门的 菜单栏
                @*checkShowToolbar("@showMissionToolbar", "@showPerToolbar", "mission");*@
            })
        </script>
@Html.Partial("_Partial_ShowToolbar")
        }   

@section westdiv{
    @RenderSection("westdiv")
    }

@*QuYuan新修改彩信联系人列表在布局页呈现*@
@section east_Columns{
    @RenderSection("east_Columns")
    }

@*QuYuan新修改彩信联系人列表在布局页呈现*@
@section eastdiv{
    @RenderSection("eastdiv")
    }

@section showWindow{
    @RenderSection("showWindow")
}

@section showDepartmentWindow{
@*短信分配部门的窗体*@
<div class="easyui-window" id="showDepartmentWindow" title="部门列表" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
    <div class="easyui-layout" data-options="fit:true" style="border:0px">
        @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
        <div data-options="region:'center'" style="border:0px">
            <select class="easyui-treegrid sms department" id="department" data-options="fit:true"></select>
        </div>
    </div>
</div>
    @*彩信分配部门窗口*@
<div class="easyui-window" id="showDepartmentWindow_mms" title="部门列表" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
    <div class="easyui-layout" data-options="fit:true" style="border:0px">
        @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
        <div data-options="region:'center'" style="border:0px">
            <select class="easyui-treegrid mms department" id="department_mms" data-options="fit:true"></select>
        </div>
    </div>
</div>
    }

@section showGroupWindow{
@*短信分配群组的窗体*@
<div class="easyui-window" id="showGroupWindow" title="群组列表" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
    <div class="easyui-layout" data-options="fit:true" style="border:0px">
        @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
        <div data-options="region:'center'" style="border:0px">
            <select class="easyui-datagrid sms group"  id="group" data-options="fit:true"></select>
        </div>
    </div>
</div>
    @*彩信分配群组窗口*@
<div class="easyui-window" id="showGroupWindow_mms" title="群组列表" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
    <div class="easyui-layout" data-options="fit:true" style="border:0px">
        @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
        <div data-options="region:'center'" style="border:0px">
            <select class="easyui-datagrid mms group" id="group_mms" data-options="fit:true"></select>
        </div>
    </div>
</div>
    }
