
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />


    @Scripts.Render("~/Scripts/myJquery")

    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*数据约束扩展类*@
    <script src="~/Scripts/MyScripts/Common/ValidateExtend.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <script src="~/Scripts/MyScripts/Common/my_SetiframeBody.js"></script>
    @*<script src="~/Scripts/MyCSS/MyEasyUIValidate.js"></script>*@
    <link href="~/Scripts/MyCSS/MyEditWin.css" rel="stylesheet" />
    <script src="~/Scripts/MyScripts/Common/my_loadDataGrid.js"></script>
    <script src="~/Scripts/MyScripts/EasyUI/my_ShowMessager.js"></script>
    @RenderSection("Scripts")
    

    @*-----------------------1.短彩信共用列对象------------------------------*@
    <script type="text/javascript">
        //全局变量：彩信为1，短信时为0
        var temp_isRedirect = 0;
        var smid_Redirect = -1;

        var missionColumns = [[
        { field: 'SMID', title: 'ID', width: 100, checkbox: true },
        //{ field: 'SMID', title: 'ID', width: 100,hidden:true },
        { field: 'SMSMissionName', title: '任务名称', width: 150 }
        ]]

        var groupColumns = [[
        //{ field: 'ck', checkbox: true },
        { field: 'GID', title: 'ID', width: 100, checkbox: true },
        { field: 'GroupName', title: '群组名称', width: 150 }
        //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        var PersonColumns = [[
        { field: 'PID', title: 'ID', width: 50, checkbox: true },
        { field: 'PName', title: '用户名称', width: 100 },
        { field: 'PhoneNum', title: '电话号码', width: 150 },
        { field: 'isVIP', title: '是否是VIP', width: 150 },
        //{ field: 'isTemp', title: '是否是临时联系人', width: 50 }
        ]]

        //是否定时发送的标记
        var istiming = false;
        //是否为彩信的标记
        var index_isMMS = 0;
         @*-----------------------2.短彩信共用加载方法------------------------------*@
        //1. 根据登录的用户加载其选中的常用 短信任务
        //加载短信任务combogrid
        function loadCombogrid_byUser() {
            var myurl = '@ViewBag.GetMissionByUID';
            var logID = '@ViewBag.LoginUserID';
            //拼接
            if (logID != -999)
            {
                userId='@ViewBag.LoginUserID'
                myurl = myurl + "?userId=" +userId ;
            }
            //根据当前登录用户加载该用户所拥有的短信任务
            $("#smsMission_combogrid").combogrid({
                url: myurl,
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                //width:120,
                panelWidth: 180,
                panelHeight: 'auto',
                editable: false,
                multiple: false,@*设置为单选*@
                //formatter: formatItem_combobox,
                columns: missionColumns,
                onSelect:function(rowIndex, rowData){
                    //点击任务后显示该任务所拥有的群组以及部门
                    //alert("被点击了");
                    //每次选中短信任务时都要手动清空该临时联系人的表格
                    clearDataGrid("person_temp_datagrid");
                    loadComboTree_Department(rowData.SMID, index_isMMS);
                    loadComboGrid_Group(rowData.SMID,userId);
                    //点击所选任务后显示该任务现在已有的联系人（在右侧联系人列表中显示）
                    var url = '@ViewBag.GetPersonByMission?mid=' + rowData.SMID;

                    //根据所选的短信任务类型加载模板
                    if (1 == temp_isRedirect) {
                        temp_isRedirect = 0;
                    } else {
                        loadtextbox_Template(rowData.SMID, userId);
                    }
                },
                onLoadSuccess: function () {
                    if (1 == temp_isRedirect) {
                        autoSelectSMSMission();
                    }
                }
            })            
        }

        //显示短彩信内容的字数
        function MsgCount(obj) {
            var num = obj.value.length;
            $('#txtNum').html("<font font-size='14px'>已经输入：" + num + "字</font>");

        }

        //根据选中的短信任务加载该任务所拥有的群组下拉框
        function loadComboGrid_Group(missionId, userId) {

            //加载全部短信任务种类
            $("#group_combogrid").combogrid({
                url: '@ViewBag.GetGroupByMID_combogrid?mid=' + missionId + '&uid=' + userId,
                //method: 'get',
                idField: 'GID',
                textField: 'GroupName',
                editable: false,
                //width:120,
                panelWidth: 180,
                //max-height:300,
                panelHeight: 300,
                multiple: true,
                columns: groupColumns,
                onBeforeLoad: function () { isLoadSuccess_Group = false },
                onSelect: function (rowIndex, rowData) {
                    //alert("选中了一行");
                    if (isLoadSuccess_Group) {
                        //clearDataGrid("person_temp_datagrid");
                        loadDataGridByGroupDepartment_Persons();
                    }
                },
                onUnselect: function (rowIndex, rowData) {
                    //alert("去掉已经选中的一行");
                    if (isLoadSuccess_Group) {
                        //clearDataGrid("person_temp_datagrid");
                        loadDataGridByGroupDepartment_Persons();
                    }
                },
                //panelHeight:'auto',
                // formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {

                    var data = $("#group_combogrid").combogrid("grid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        if (rowData.checked) {
                            $("#group_combogrid").combogrid("grid").datagrid("selectRow", rowIndex);
                        }
                    });

                    //由于群组是放在第二个顺序加载，所以在群组下拉框全部加载完毕后执行一遍查询联系人的操作（获取选中的群组及部门）
                    loadDataGridByGroupDepartment_Persons();
                    //并设置加载成功标记为true，以后再点击下拉框（群组）才会加载联系人
                    isLoadSuccess_Group = true;
                }
            })
        }

        //加载全部部门下拉框
        function loadComboTree_Department(missionId,isMMS) {
            //2.2 加载上级部门下拉框
            $("#DepartmentName_combotree").combotree({
                panelWidth: 250,
                panelHeight: 250,
                url: '@ViewBag.GetDepartment_combotree?mid=' + missionId + "&&isMMS=" + isMMS,
                //required: true,
                method: 'get',
                //width: 210,
                cascadeCheck: $(this).is(':checked'),//选中子节点不会选中父节点
                //formatter: formatItem_combobox
                //使用onCheck
                //onSelect: function (node) {
                //    //alert("选中了当前行" + node);
                //    //var nodes = $('#DepartmentName_combotree').combotree("tree").tree('getChecked');
                //    //alert("选中了" + nodes.length+"个节点");
                //    loadDataGridByGroupDepartment_Persons();
                //},
                onBeforeLoad: function () { isLoadSuccess_Department = false },
                onLoadSuccess: function () { isLoadSuccess_Department = true },
                onCheck: function (node) {
                    if (isLoadSuccess_Department) {
                        loadDataGridByGroupDepartment_Persons();
                    }
                }
                //onUnselect:function(node){
                //    alert("去掉已经选中的一行");
                //    //loadDataGridByGroupDepartment_Persons();
                //}
            });
            //选中子节点不会选中父节点
            //$('#DepartmentName_combotree').combotree({ cascadeCheck: $(this).is(':checked') })

        }
        //加载联系人列表
        function loadDataGridByGroupDepartment_Persons() {
            //2017-04-18
            //每次加载部门及群组时清除临时联系人列表
            clearDataGrid("person_temp_datagrid");
            //1 获取当前选中的group以及department下拉框所选中的ids
            //1.1 获取当前选中的群组下拉框
            var grid = $("#group_combogrid").combogrid("grid");
            var group_checkeds = grid.datagrid("getChecked");
            var group_ids = split4id(group_checkeds, "GID");
            //1.2 获取当前选中的部门下拉tree
            var department_nodes = $('#DepartmentName_combotree').combotree("tree").tree('getChecked');
            //var department_nodes_select = $('#DepartmentName_combotree').combotree("tree").tree('getSelections');
            var department_ids = split4id(department_nodes, "id");
            //2 请求url加载至Person_DataGrid
            var url = '@ViewBag.GetPersonByGroupDepartment?gids=' + group_ids + '&dids=' + department_ids;

            //loadDataGrid_Person(url);
            loadDataGrid_Person("person_temp_datagrid", null, null, "tb", true);
            loadDataGrid_Person("persondatagrid", url, "200", null, false);
        }
        //加载联系人列表
        function loadDataGrid_Person(datagrid_id, url, isPagination, tb_id, isTempPerson) {
            $("#" + datagrid_id).datagrid({
                fitColumns: true,
                striped: true,
                multiple: true,     //单选
                //fit: true,
                url: url,
                showHeader: true,
                pagination: isPagination,//在数据表格控件底部显示分页工具栏
                rownumbers: true, //是否加行号
                loadMsg: '加载中……',
                columns: PersonColumns,
                toolbar: '#' + tb_id,
                onBeforeLoad: function () {
                    //alert("页面加载之前");
                    isLoadSuccess_Person = false;
                },
                onLoadSuccess: function () {
                    var data = $("#persondatagrid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        if ($.inArray(rowData["PID"], arr_UnSelectPersonIds) == -1) {
                            $("#persondatagrid").datagrid("selectRow", rowIndex);
                        }
                    });
                    isLoadSuccess_Person = true;
                },
                selectOnCheck: true,
                checkOnSelect: true,
                onSelect: function (rowIndex, rowData) {
                    if (!isTempPerson) {
                        if (isLoadSuccess_Person) {
                            my_popFromArr(arr_UnSelectPersonIds, rowData["PID"]);
                        }
                    }
                },
                onUnselect: function (rowIndex, rowData) {
                    if (!isTempPerson) {
                        //alert("去掉已经选中的一行");
                        my_pushInArr(arr_UnSelectPersonIds, rowData["PID"]);
                        //alert(arr_UnSelectPersonIds.length);
                    }

                }
            });
            //var p=$("#"+datagrid_id).datagrid('getPager');
            //p.pagination({
            //    displayMsg: '共{total}条数据'
            //});

            //if(tb_id!=null){
            //    $("#"+datagrid_id).datagrid({			
            //        toolbar: '#'+tb_id
            //    })
            //}


            //if(isPagination!=null){
            //    $("#"+datagrid_id).datagrid({			
            //        pagination:true
            //    })
            //}
        }

        //根据短信任务以及用户id加载该任务所拥有的短信
        function loadtextbox_Template(smid, userid) {
            $.ajax({
                url: "@ViewBag.GetTemplateByUidAndMission" + "?userId=" + userid + "&smId=" + smid,

                contentType: 'application/json;charset=utf-8',//注意此处必须注明为json格式，否则后台控制器无法通过Model的方式接收
                async: false,
                type: 'POST',
                success: function (data) {
                    //alert(data);
                    //$("#message").textbox('setValue', data);
                    $("#message").val(data);
                }

            })
        }



        //-------------------------------3.弹出，关闭Edit常用任务和群组的窗口--------------------------
        //加载常用的短信任务
        //2.显示编辑常用任务和群组的窗口
        function showEditWindow() {
            //从指定页面中预读取数据
            $("#SetFrame").attr("src", '@ViewBag.ShowSetOftenMissionAndGroup');
            //打开编辑窗体
            $("#editWindow").window('open');

        }
        function CloseWindow() {
            $("#editWindow").window('close');

        }
        //--------------------------------4. Util方法----------------------------------------------
        //分隔id
        function split4id(obj, index) {
            var ids = "";
            for (var i = 0; i < obj.length; i++) {
                if (obj[i][index] != null) {
                    ids = ids + obj[i][index] + ",";
                }
            }
            ids = ids.substr(0, ids.length - 1);
            return ids;
        }

        //向数组中插入不重复的值
        function my_pushInArr(arr, value) {
            if (arr.indexOf(value) == -1) {
                arr.push(value);
            }
        }

        //向数组中插入数据
        function my_popFromArr(arr, value) {
            if (arr.indexOf(value) != -1) {
                arr.splice(arr.indexOf(value), 1);
            }
        }
        function formatItem_combobox(row) {
            var s = '<input type="checkbox" class="combobox-checkbox">' + '<span style="font-weight:bold">' + row.text + '</span></input>';
            return s;
        }

        function split4phone(obj, temp) {
            var phones = "";

            $.each(obj, function (index, data) {
                //if (data["isTemp"] == 2) {
                phones = phones + data[temp] + ",";
                //}
            })
            return phones = phones.substr(0, phones.length - 1);
        }

        //-----------------------------5.公共对象-----------------------------------------------
        var arr_UnSelectPersonIds = [];

        var userId = -999;
        //思路如下：
        // 页面加载之前将isLoadSuccess_Person设置为false，页面加载过程中会触发onSelect及onCheck事件，此时不执行写在onSelect中的方法，只有在页面加载后才会执行onSelect中的方法
        var isLoadSuccess_Person = false;
        var isLoadSuccess_Group = false;
        var isLoadSuccess_Department = false;
        //---------------------------6.提交短彩信，清空，的方法----------------------------------
        function ClearContent() {
            //清除发送短信内容
            //$("#message").textbox('setValue', '');

            //alert("清除短信内容");
        }
        //编辑或创建某个权限后执行的操作
        function afterEdit(msg) {
            //editWindow
            //1 关闭加载的iframe页面
            $.messager.alert('提示', msg);

            $("#editWindow").window('close');
            //2 刷新当前页面
            //$("#contactstreegrid").treegrid('reload');
            //loadPersonGridByGID("@ViewBag.GetPersonUrl", PersonColumns, PersonToolbar);
            //6月17日添加
            //注意需要重新加载短信任务下拉框（不必加载群组及部门下拉框——因为这两个下拉框是在点击短信任务后才会加载）
            //17年2月7日添加，清空所有
            ClearAll();
           
        }

        function DoSend(type) {
            //alert("要发送短信了");
            //1 获取右侧联系人datagrid列表中选中的联系人id
            var state = messagerConfirm("请确认", "是否要执行发送操作?", function () {

                //1 获取选中的群组及部门
                //var group_checkeds = $("#group_combogrid").combogrid("getChecked");
                var group_checkeds = $("#group_combogrid").combobox('getValues');
                //var department_checkeds = $("#DepartmentName_combotree").combotree("getChecked");
                var department_checkeds = $("#DepartmentName_combotree").combobox('getValues');
                //var checkeds = $("#persondatagrid").datagrid("getChecked");
                var temp_checkeds = $("#person_temp_datagrid").datagrid("getChecked");

                //2017-04-18 加入短彩信Content的判断 casablanca
                //if ($("#message").textbox('getValue') == "") {
                if ($("#message").val() == "") {
                  
                    //messagerAlertByAlert("提示", "请填写短信内容");
                    //此种效果更好
                    messagerShowOnCenter("提示", "请填写信息内容");
                    return;
                }
                if (group_checkeds.length > 0 || department_checkeds.length > 0 || temp_checkeds.length > 0) {
                    //1.1 获取选中的联系人id用,分隔，并提交
                    //var ids_person = split4id(checkeds, "PID");
                    //注意此处为[1,...2]这种数组，需要将其拼接为1,...2字符串
                    var ids_person = arr_UnSelectPersonIds.join(",");
                    var phones_temp = split4phone(temp_checkeds, "PhoneNum");
                    //2 获取短信内容
                    //var content = $("#message").textbox('getValue');
                    var content= $("#message").val();
                    var grid_mission = $("#smsMission_combogrid").combogrid("grid");
                    var mission_checkeds = grid_mission.datagrid("getChecked");
                    var mission_id = mission_checkeds[0]["SMID"];

                    //var istiming=$("#isTiming").val();
                    //if(istiming=="on"){
                    //    //istiming=true;
                    //}else{
                    //    //istiming=false;
                    //}
                    var url = '';
                    if ("SMS" == type) {
                        url = '@ViewBag.DoSend';
                        var startRunTime = $("#nextRunTime_date").datetimebox('getValue');
                        AjaxSubmit(ids_person, phones_temp, content, url, mission_id, group_checkeds, department_checkeds, istiming, startRunTime, userId);
                    } else if ("MMS" == type) {
                        url = '@ViewBag.DoSend_MMS';
                        //var istiming = false;
                        //DoSend_Img();
                        AjaxSubmit_MMS(ids_person, phones_temp, content, url, mission_id, group_checkeds, department_checkeds, istiming, userId);

                    }

                    //alert("要发送的联系人为："+ids_person+"——短信内容为："+content);
                    //3 发送（进行校验）


                    return;
                }
                messagerAlertByAlert("提示", "请选择至少一个任务或群组");
            });
            //if(state==false){
            //    return;
            //}

        }

        function ClearAll() {
            loadCombogrid_byUser();
            //清空群组
            $("#group_combogrid").combogrid('clear');
            //清空部门
            $("#DepartmentName_combotree").combotree('clear');
            //清空临时联系人,Datagrid没有清空的方法，需要自己写
            $("#person_temp_datagrid").datagrid('loadData', { total: 0, rows: [] });
            //清空联系人，Datagrid没有清空的方法，需要自己写
            $("#persondatagrid").datagrid('loadData', { total: 0, rows: [] });
            //清空消息框
            ClearContent();
        }
        //-------------------------7.临时联系人的方法------------------------------------------
        function append() {

            //获取添加的内容
            var phone = $("#txt_addPerson").val();
            //向表格中追加
            var row_temp = {
                PName: '临时联系人',
                isVIP: true,
                PhoneNum: phone
            };

            //使用以下方式只能使用appenRow方法insertRow会有错
            //var row_temp = new Object();            
            //row_temp.PID=-1;
            //row_temp.PName = '临时联系人';
            //row_temp.isVIP = true;
            //row_temp.PhoneNum = phone;
            //row_temp.isTemp = 2;
            //$('#person_temp_datagrid').datagrid('appendRow', row_temp); 
            var rows = $("#person_temp_datagrid").datagrid('getRows');
            if (CheckExistPhone(row_temp, rows)) {
                messagerShowOnCorner("提示", "电话已添加请勿重复添加");
                return;
            }
            $('#person_temp_datagrid').datagrid('insertRow', {
                index: 0,	// 索引从0开始
                row: row_temp
            });
            $('#person_temp_datagrid').datagrid('checkRow', 0);
        }

        //判断传入的集合中是否包含指定的电话号码，包含返回true 2017-04-18
        function CheckExistPhone(phone, list) {
            var index = 0;
            var result = false;
            $.each(list, function (index, value) {
                index++;
                if (phone.PhoneNum == value.PhoneNum) {
                    result = true;
                    return false;
                }
            })
            return result;
        }

        function autoSelectSMSMission() {
            $("#smsMission_combogrid").combogrid('grid').datagrid('selectRecord', smid_Redirect);
        }
        
        //----------------------------短彩信共用入口方法---------------------------------------
        $(function () {
            
            //1 隐藏设置的窗体
            $("#editWindow").window('close');
            loadCombogrid_byUser();
            
            //2017-04-18 隐藏群组下拉框 casablanca
            //$("#group_combogrid").combogrid('hidePanel');
            if (temp_isRedirect == 1) {
                //如果是重定向过来的，就默认选中短信发送时选中的任务
                autoSelectSMSMission();
            }
            //OnSelected_Group();
            //$("#DepartmentName_combotree").combotree({
            //    onCheck: function () {
            //        alert("此部门被选中了");
            //    }
            //});

        })

    </script>
</head>
<body id="body" style="margin:0px;height:90%" onload="SetiframeHeight('body_layout')">
    @RenderSection("Body")
 </body>
</html>
