
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSetWindow</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />


    @*@Scripts.Render("~/mvcAjax")*@
    @Scripts.Render("~/Scripts/myJquery")
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <link href="~/Scripts/MyCSS/MyEditWin.css" rel="stylesheet" />
    <script src="~/Scripts/MyScripts/EasyUI/my_ShowMessager.js"></script>
    <script type="text/javascript">
        var missionColumns = [[
                 //{ field: 'ck', checkbox: true },
                 { field: 'SMID', title: 'ID', width: 100, checkbox: true },
                 { field: 'SMSMissionName', title: '群组名称', width: 150 }
                 //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]
        var groupColumns = [[
         //{ field: 'ck', checkbox: true },
         { field: 'GID', title: 'ID', width: 100, checkbox: true },
         { field: 'GroupName', title: '群组名称', width: 150 }
         //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        function split4id(obj, index) {
            var ids = "";
            for (var i = 0; i < obj.length; i++) {
                ids = ids + obj[i][index] + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            return ids;
        }

        function afterEdit(data) {

            //$.messager.alert('提醒', '提交成功!');
            //——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            //无法关闭此窗口
            //window.close();
            if (data == "ok") {
                window.parent.afterEdit("修改成功");
            }
            else {
                window.parent.afterEdit("修改失败");
            }
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }

        function CloseMyWin() {
            window.parent.CloseWindow();
        }

        function save_success(data) {
            //alert("修改成功");

            if (data == "ok") {
                //使用此种方式会出现还未等到消息框弹出页面就刷新的问题
                //messagerShowOnCenter("提示", "修改成功");
                //$.messager.alert("提示", "操作成功", "info", function () { window.close(); refresh(); });
                afterEdit(data);
                //refresh();
            }
            else {
                //$.messager.alert("提示", "操作失败", "warning", function () { window.close(); refresh(); });
                afterEdit(data);
                //refresh();
            }
        }

        function save_error(data) {
            //$.messager.alert("错误", "服务器错误", "error", function () { window.close(); refresh(); });
            afterEdit(data);
            //refresh();
        }
        //保存当前选中的任务以及选中的群组
        function Save() {
            //var selectGroupValue = $("group_combogrid").combobox('getValues');

            //var selectMissionValue = $("#smsMission_combogrid").combobox('getValues');

            var grid_group = $("#group_combogrid").combogrid("grid");
            var group_checkeds = grid_group.datagrid("getChecked");
            var group_ids = split4id(group_checkeds, "GID");

            //注意此处：短/彩信任务必须选中一项
            var grid_mission = $("#smsMission_combogrid").combogrid("grid");
            var mission_checkeds = grid_mission.datagrid("getChecked");
            if (mission_checkeds.length < 1) {
                //提示
                messagerShowOnCenter("提示", "必须选择至少一个短/彩信任务");
                return;
            }
            var mission_ids = split4id(mission_checkeds, "SMID");

            //alert("群组选中id" + group_ids + "|||" + "选中的任务id" + mission_ids);
            var model = new Object();
            model.group_Ids = group_ids;
            model.mission_Ids = mission_ids;
            var url = "@ViewBag.DoSave";
            //提交
            $.ajax({
                url: url,
                data: JSON.stringify(model),
                contentType: 'application/json;charset=utf-8',//注意此处必须注明为json格式，否则后台控制器无法通过Model的方式接收
                async: false,
                type: 'POST',
                success: save_success,
                error: save_error
            })
        }

        //根据用户id加载群组
        function loadComboGrid_Group(userId) {

            //加载全部短信任务种类
            $("#group_combogrid").combogrid({
                url: '@ViewBag.GetGroupByUser_combogrid?userId=' + userId,
                method: 'get',
                idField: 'GID',
                textField: 'GroupName',
                //width: 150,
                panelWidth: 180,
                panelHeight: 150,
                multiple: true,
                columns: groupColumns,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var data = $("#group_combogrid").combogrid("grid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        if (rowData.checked) {
                            $("#group_combogrid").combogrid("grid").datagrid("selectRow", rowIndex);
                        }
                    });
                }
            })
        }

        function loadComboGrid_Mission(userId) {

            //加载全部短信任务种类
            $("#smsMission_combogrid").combogrid({
                url: '@ViewBag.GetMissionByUserId_combogrid?userId=' + userId,
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                //width: 150,
                panelWidth: 180,
                panelHeight: 200,
                multiple: true,
                columns: missionColumns,
                onClickRow: function (rowIndex, rowData) {
                    //loadDataGridByGroupDepartment_Personss();

                },
                //formatter: formatItem_combobox,
                //获取数据成功后启动事件
                onLoadSuccess: function () {
                    var data = $("#smsMission_combogrid").combogrid("grid").datagrid("getData");
                    var rowData = data.rows;
                    $.each(rowData, function (rowIndex, rowData) {
                        if (rowData.checked) {
                            $("#smsMission_combogrid").combogrid("grid").datagrid("selectRow", rowIndex);
                        }
                    });
                }
            })
        }

        $(function () {
            var userId =@ViewBag.LoginUserID
            loadComboGrid_Mission(userId);
            loadComboGrid_Group(userId);
        })
    </script>
</head>
<body>
    <div style="height:100%">
            <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
                <input type="hidden" name="DID" value="@ViewBag.DID" />
                <table cellspacing="10" style="font-size:15px;">
                    <tr>
                        <td style="color:#ffffff">设置常用短/彩信任务:</td>
                    </tr>
                    <tr>
                        <td class="comment">
                            @*加载全部短信任务列表，并将当前用户所拥有的短信任务设置为勾选*@
                            <select class="easyui-combotree" name="PDID" id="smsMission_combogrid" style="height:25px;width:100%;" @*data-options="required:true"*@></select><br />
                            请选择你常用的短/彩信任务种类<br />（此任务会出现在发送界面的短/彩信任务列表中）
                        </td>
                    </tr>
                    <tr>
                        <td style="color:#ffffff">设置常用短/彩信群组:</td>

                    </tr>
                    <tr>
                        <td class="comment">
                            @*加载全部短信群组列表，并将当前用户所拥有的短信群组设置为勾选*@
                            <select class="easyui-combotree" name="PDID" id="group_combogrid" style="height:25px;width:100%;" data-options="@*required:true*@"></select><br />
                            请选择你常用的短/彩信群组<br />（此群组会出现在发送界面的短/彩信任务列表中）
                        </td>
                    </tr>
                    </table>
                <div style="text-align:center;padding:5px">
                    <div style="text-align:center;padding:5px">
                        @*<input type="submit" value="提交" />*@
                        <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:30%" data-options="iconCls:'icon-ok'" onclick="Save()" style="width:80px">提交</a>
                        <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:30%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CloseMyWin()" style="width:80px">取消</a>
                    </div>
                </div>
                </form>
        </div>
</body>
</html>
