
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />

    @*@Styles.Render("~/Scripts/EasyUI/themes/black")*@
    @Scripts.Render("~/mvcAjax")
    @*@Scripts.Render("~/Scripts/easyUIJS")*@
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <script type="text/javascript">
        //-----------------------1 各类toolbar------------------

        var toolbar = [{
            iconCls: 'icon-add',
            text: "新增",
            handler: addGroupRow@*addRow("@ViewBag.ShowAdd")*@
        }, '-',
        {
            iconCls: 'icon-remove',
            text: "删除",
            handler: removeGroupRow@*removeRow("@ViewBag.Del_url")*@
        }, '-',
           {
               iconCls: 'icon-edit',
               text: "编辑",
               handler: editGroupRow@*editRow("@ViewBag.ShowEdit")*@
           }]

        var PersonToolbar = [{
            iconCls: 'icon-add_person',
            text: "添加联系人",
            handler: addPersonRow@*addRow("@ViewBag.ShowAdd")*@
        },
        {
            iconCls: 'icon-del_person',
            text: "删除联系人",
            handler: removePersonRow@*removeRow("@ViewBag.Del_url")*@
        }, '-',
        {
            iconCls: 'icon-save',
            text: "保存",
            handler: SavePerson@*removeRow("@ViewBag.Del_url")*@
        }]

        //-----------------------2 列对象----------------------------

        var myColumns = [[
{ field: 'GID', title: 'ID', width: 100, hidden: true },
{ field: 'GroupName', title: '群组名称', width: 150 }
        ]]



        var PersonColumns = [[
                 { field: 'PID', title: 'ID', width: 100, checkbox: true },
                 { field: 'PName', title: '用户名称', width: 150 },
                 { field: 'PhoneNum', title: '电话号码', width: 250 },
                 { field: 'Remark', title: '备注', width: 120 }
        ]]


        //-----------------3 增删改操作--------------------

        function addGroupRow() {
            //从指定页面中预读取数据
            $("#addGroupFrame").attr("src", '@ViewBag.ShowAddGroup');
            //打开编辑窗体
            $("#editGroupWindow").window('open');

        }

        function editGroupRow() {
            var rows = $("#contactsdatagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选择一行数据',
                    showType: 'show'
                });
                return;
            }
            //**注意先加载iframe窗体的数据，在打开该窗口
            $("#addGroupFrame").attr("src", "@ViewBag.ShowEditGroup" + "?id=" + rows[0].GID);//会出现重定向的错误
            $("#editGroupWindow").window('open');
            //若选中了一行数据则执行修改操作
            //获取选中列的某一行的值，由于选中的行是一个数组，需要取出第一个

        }


        function removeGroupRow() {
            var rows = $("#contactsdatagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length < 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请至少选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //post请求至软删除方法
            if ($.messager.confirm("提示", "确定要删除吗？", function (r) {
                if (r) {
                    var strId = "";
                for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].GID + ",";
            }
                //去掉最后一个逗号
                strId = strId.substr(0, strId.length - 1);
                $.post("@ViewBag.DelGroup_url?ids=" + strId, function (data) {
                //请求成功后的回调函数
                if (data == "ok") {
                //重新加载datagrid
                   $("#contactsdatagrid").datagrid('reload');
                //清楚所选中的行
                $("#contactsdatagrid").datagrid('clearSelections');
                $.messager.alert("提示", "删除成功");
            }
            });
            }
            }));

        }


        function addPersonRow() {
            //从指定页面中预读取数据
            $("#addPersonFrame").attr("src", '@ViewBag.ShowAddPerson');
            //打开编辑窗体
            $("#editPersonWindow").window('open');

        }

        function editPersonRow() {
            var rows = $("#contactsdatagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选择一行数据',
                    showType: 'show'
                });
                return;
            }
            //**注意先加载iframe窗体的数据，在打开该窗口
            $("#addPersonFrame").attr("src", "@ViewBag.ShowEditPerson" + "?id=" + rows[0].GID);//会出现重定向的错误
            $("#editPersonWindow").window('open');
            //若选中了一行数据则执行修改操作
            //获取选中列的某一行的值，由于选中的行是一个数组，需要取出第一个

        }

        function removePersonRow() {
            var rows = $("#persondatagrid").datagrid('getSelections');
            //若选中的行不为一行
            if (rows.length < 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请至少选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //post请求至软删除方法
            if ($.messager.confirm("提示", "确定要删除吗？", function (r) {
                if (r) {
                    var strId = "";
                for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].GID + ",";
            }
                //去掉最后一个逗号
                strId = strId.substr(0, strId.length - 1);
                $.post("@ViewBag.DelPerson_url?ids=" + strId, function (data) {
                //请求成功后的回调函数
                if (data == "ok") {
                //重新加载datagrid
                   $("#persondatagrid").datagrid('reload');
                //清楚所选中的行
                $("#persondatagrid").datagrid('clearSelections');
                $.messager.alert("提示", "删除成功");
            }
            });
            }
            }));

        }

        //为用户保存选中的分组及部门
        function SavePerson() {
            //判断group的下拉框是否选中
            var selectGroupValue = $("#group").combobox('getValue');
            var GroupId = selectGroupValue;
            var selectDepartmentValue = $("#DepartmentName_combotree").combobox('getValue');
            var DepartmentId = selectDepartmentValue;

            //若部门与群组均为选中则提示，并不做任何操作
            if (!selectGroupValue & !selectDepartmentValue) {
                messagerShowOnCenter("提示", "部门与群组请至少选择一项");

                return;
            }

            //if (!selectGroupValue) {
            //    alert("请选择群组");
            //    return;
            //}
            //if (!selectDepartmentValue) {
            //    alert("请选择部门");
            //    return;
            //}

            var rows = $("#persondatagrid").datagrid('getSelections');
            //获取选中行中的UserId
            var UserId = rows[0].PID;
            //若选中的行不为一行
            if (rows.length != 1) {
                //提示
                messagerShowOnCenter("提示", "请选中某一个人");
                //统一用从页面中间弹出消息框的方式，以下注释
                //$.messager.show({
                //    title: '提示',
                //    msg: '请选中某一个人',
                //    showType: 'show'
                //});
                return;
            }
            //弹出提示是否要向此人赋予什么权限
            //先不这么做，弹出提示是否要执行此操作
            //$("#win_savePerson").window('open');
            //若执行此操作
            var result = confirm_center({
                'userId': UserId,
                'groupId': GroupId,
                'departmentIds': DepartmentId
            });

        }

        //------------4 对页面的公共操作------------------
        function refresh() {
            window.location.reload();//刷新当前页面.
        }


        //使用此种方式消息框还未显示页面就已经刷新了
        function messagerShowOnCenter(title, msg) {
            $.messager.show({
                title: title,
                msg: msg,
                showType: 'show',
                style: {
                    right: '',
                    bottom: ''
                }

            });
        }

        //提交
        function confirm_center(obj) {
            $.messager.confirm('请确认', '是否要执行此操作?', function (r) {
                if (r) {
                    //alert("执行提交操作");
                    $.ajax({
                        type: "POST",
                        url: "@ViewBag.PersonAssignProperty",
                        //dataType: "json",//注意若使用ajax提交时若调用回调函数时，若指定数据类型为json需严格遵守格式规定
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            //alert("修改成功");

                            if (data == "ok") {
                                //使用此种方式会出现还未等到消息框弹出页面就刷新的问题
                                //messagerShowOnCenter("提示", "修改成功");
                                $.messager.alert("提示", "操作成功", "info", function () { window.close(); refresh(); });
                                //refresh();
                            }
                            else {
                                $.messager.alert("提示", "操作失败", "warning", function () { window.close(); refresh(); });
                                //refresh();
                            }



                        },
                        error: function () {

                            $.messager.alert("错误", "服务器错误", "error", function () { window.close(); refresh(); });
                            //refresh();
                        }
                    });
                }
                return;
            });
        }



        //编辑或创建某个权限后执行的操作
        function afterEdit(msg) {
            //editWindow
            //1 关闭加载的iframe页面
            $.messager.alert('提示', msg);

            $("#editGroupWindow").window('close');
            //2 刷新当前页面
            $("#contactsdatagrid").datagrid('reload');
        }





        //--------------------5 加载datagrid---------------------------

        function loadPersonGrid(url, myPersonColumns, myPersonToolbar) {
            //1 获取选中的行
            var rows = $("#contactsdatagrid").datagrid('getSelections');
            //1.1 若选中的行不为一行
            if (rows.length != 1) {
                //提示
                $.messager.show({
                    title: '提示',
                    msg: '请选中一行数据',
                    showType: 'show'
                });
                return;
            }
            //1.2 获取选中行的ID
            strId = rows[0].GID;
            url = url + "?gid=" + strId;
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#persondatagrid").datagrid({
                //width: '488px',
                height: '280px',
                //height: 'auto',
                fitColumns: true,
                striped: true,
                singleSelect: false,
                //fit: true,
                url: url,
                showHeader: true,
                loadMsg: '加载中……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 20,   //设置 页容量为 5
                pageList: [20, 40, 60],//设置 页容量下拉框
                columns: myPersonColumns,
                toolbar: myPersonToolbar


            });
        }

        function loadDataGrid(url, myColumns) {
            //2 位datagrid加载数据
            $("#contactsdatagrid").datagrid({
                width: '400px',
                height: 'auto',

                fitColumns: false,
                striped: true,
                showFooter: true,
                singleSelect: true,
                fit: true,
                url: url,
                loadMsg: '加载中……',
                columns: myColumns,
                toolbar: toolbar

            });
        }

        function formatItem_combobox(row) {
            var s = '<span style="font-weight:bold">' + row.text + '</span><br/>' +
					'<span style="color:#888">' + row.remark + '</span>';
            return s;
        }

        //-------------------6 页面加载首先运行-----------------

        $(function () {

            $("#editGroupWindow").window('close');
            $("#editPersonWindow").window('close');
            loadDataGrid('@ViewBag.GetInfo', myColumns);
            //2 根据GroupID查询该群组所拥有的人员列表
            $("#contactsdatagrid").datagrid({
                onClickRow: function (index, field, value) {
                    loadPersonGrid("@ViewBag.GetPersonUrl", PersonColumns, PersonToolbar);
                }
            });

            //2 加载上级部门下拉框

            $("#DepartmentName_combotree").combotree({
                url: '@ViewBag.GetDepartment_combotree',
                valueField: 'id',   //注意此处只能设置为id以及text，否则不识别
                textField: 'text',
                //valueField: "DID",
                //textField: "DepartmentName",
                required: true,
                editable: false,
                onlyLeafCheck: true,
                cascaseCheck: true,
                method: 'get',
                width: 210,
                //onLoadSuccess: AfterLoadDepartment
                @*setValue:'@ViewBag.PDID'*@

            })

        })
    </script>
</head>
<body style="overflow:hidden;">
    <div class="easyui-layout" style="width:100%;height:500px;border:dashed">
        <div id="p" data-options="region:'west'" title="West" style="width:30%">
            <table class="easyui-datagrid" id="contactsdatagrid" style="height:100%;width:100%"></table>
        </div>
        <div data-options="region:'center'" title="Center" style="width:70%">
            <div id="tb" style="padding:2px 5px;">
                移至分组:
                <select class="easyui-combobox" id="group" panelHeight="auto" style="width:100px"
                        data-options="url: '@ViewBag.GetGroup_combobox',
                        method :'get' ,
                        valueField :'id' ,
                        textField :'text' ,
                        panelWidth: 350,
                        panelHeight:'auto' ,
                        formatter: formatItem_combobox
                        ">
                </select>
                选择所属部门
                <select class="easyui-combotree" name="PDID" id="DepartmentName_combotree" data-options="required:true"></select>
            </div>
            <table class="easyui-datagrid" id="persondatagrid" data-options="" style="width:100%;"></table>

        </div>
    </div>

    <div class="easyui-window" title="群组" id="editGroupWindow" style="width:400px;height:250px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="addGroupFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
    </div>
    <div class="easyui-window" title="联系人" id="editPersonWindow" style="width:400px;height:250px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="addPersonFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
    </div>
</body>
</html>



