
@{
    ViewBag.Title = "ShowEditInfo_1";
    Layout = "~/Views/Shared/_Admin_AddUser_Layout.cshtml";
    string backAction = ViewBag.backAction;
    int sort = (ViewBag.Sort == null ? 50 : ViewBag.Sort);
}
@section SectionJS{
    <script src="~/Scripts/MyScripts/Common/Submit.js"></script>
    <script type="text/javascript">
        function Save() {
            DoSubmit("ff", '@ViewBag.backAction',"@Resources.Language.RoleName");
        }
        function CancelSend() {
            window.parent.CancelSend();
        }

        $(function () {
            @*DoSubmit("ff", ' @ViewBag.backAction');*@
        })
    </script>
    <style type="text/css">
        td {
            font-family: 'Microsoft YaHei UI';
            color: #ffffff;
            font-weight: 200;
        }

        .comment {
            font-family: 'Microsoft YaHei';
            font-size: small;
            color: #aaa6a6;
        }
    </style>

}

<div>
    <form id="ff" class="easyui-form" method="post" style="margin:0px;">
        <div style="height:30px;width:100%;background-color:#000000"></div>
        <input type="hidden" name="ID" value="@ViewBag.ID" />
        <input type="hidden" name="SubTime" value="@ViewBag.SubTime" />
        <table style="margin-left:40px;width:90%" cellpadding="3">
            
            <tr>
                <td style="">@Resources.Language.RoleName:</td>
                @*<td style="">优先级:</td>*@
            </tr>
            <tr>
                <td class="comment">
                    <input class="easyui-validatebox" type="text" style="width:60%;height:25px" name="RoleName" value="@ViewBag.RoleName" data-options="required:true,validType:['String','length[1,50]']"></input><br />
                    @Resources.Language.Pleaseentertherolename
                </td>
            </tr>
            <tr>
                <td>@Resources.Language.Remarks:</td>
            </tr>
            <tr>
                <td class="comment">
                    <input class="easyui-textbox" name="Remark" data-options="multiline:true" style="height:70px;width:60%;" value="@ViewBag.Remark"><br />
                    @Resources.Language.Optional
                </td>
            </tr>
            <tr>
                <td>@Resources.Language.Priority:</td>
            </tr>
            <tr>
                <td class="comment">
                    <input class="easyui-slider" style="width:80%" data-options="showTip:true,
                               rule: [0,'|',25,'|',50,'|',75,'|',100],
                               value:'@sort'
                               "><br />
                    @Resources.Language.Thesmallerthenumberthehigherthepriority
                </td>
            </tr>
        </table>
        <div style="text-align:center;padding:5px">
            <div style="text-align:center;padding:5px">
                @*<input type="submit" value="提交" />*@
                <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="Save()" style="width:80px">@Resources.Language.Submit</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">@Resources.Language.Cancel</a>
            </div>
        </div>
    </form>
</div>

